
<div class="body">
    <div class="row">
        <div class="col-md-2 bg-dark h-auto ">
            <app-dashboard-sidebar></app-dashboard-sidebar>
        </div>
        <div class="col-md-10">
          <div class="container-fluid">
           <app-dashboard-header></app-dashboard-header>
           
         
              <h4 class="mt-4">Add new product</h4>
              <hr>
          </div>
           
            <div class="container-fluid">
                <div class="row mt-4">
                  <div class="col-md-8">
                      <h6 class="pt-2 pb-2 pl-2 pr-2" style="background-color:#418ec4;color:white">PRODUCT DETAILS</h6>
                    <div class="card pt-2">
                      <div class="container-fluid">
                          <div class="form-group">
                              <label for="rprice" class="label-control">Product Type</label>
                              <select class="form-control" (change)="gptype($event)" style="border: 1px solid lightgray;height:30px;font-size: 14px">
                               <option></option>
                                <option value="Simple product" style="font-size:14px">Simple product</option>
                                <option value="Grouped product"style="font-size:14px">Grouped product</option>
                                <option value="External/affiliate product"style="font-size:14px">External/affiliate product</option>
                                <option value="Variable product"style="font-size:14px">variable product</option>
                              </select>
                            </div>

                            <div class="form-group">
                              <label for="rprice" class="label-control">Product Variation Property</label>
                              <select class="form-control" (change)="gpv($event)" style="border: 1px solid lightgray;height:30px;font-size: 14px">
                               <option></option>
                                <option value="Simple product" style="font-size:14px">Color and Capacity Variations</option>
                                <option value="Grouped product"style="font-size:14px">Only Color variation </option>
                                <option value="External/affiliate product"style="font-size:14px">Only capacity variation</option>
                              </select>
                            </div>


                        <label for="" class="label-control">Product Name</label>
                          <input type="text" class="mb-4" [(ngModel)]="name" placeholder="Product name" class="form-control"><br>
                          <form  enctype="multipart/form-data" >
                                     
                            <div class="form-group" >
                                    <label class="label-control"  for="categories">Product category</label>
                                    <select class="form-control "  style="border: 1px solid lightgray;" [(ngModel)]="category"  [ngModelOptions]="{standalone: true}" >
                                      <option selected>{{category}}</option>
                                      <option *ngFor="let cat of gcat" value="{{cat.category}}">{{cat.category}}</option>
                                   
                                    </select>
                                  </div>
                                  <div class="form-group">
                                    <label class="label-control" for="mobile">Product Subcategory I</label>
                                    <select class="form-control  subcat1" style="border: 1px solid lightgray;" [(ngModel)]="subcat1"  [ngModelOptions]="{standalone: true}">
                                        <option selected >{{subcat1}}</option>
                                      <option *ngFor="let subcat1 of gsubcat1" value="{{subcat1.subcategory1}}">{{subcat1.subcategory1}}</option>
                                      <option value="Cables">Cables</option>
                                    </select>
                                  </div>

                                  <div class="form-group">
                                    <label class="label-control" for="charger">Product Subcategory II</label>
                                    <select class="form-control  subcat2" style="border: 1px solid lightgray;" [(ngModel)]="subcat2"  [ngModelOptions]="{standalone: true}">
                                        <option selected >{{subcat2}}</option>
                                    <option *ngFor="let subcat2 of gsubcat2" value="{{subcat2.subcategory2}}">{{subcat2.subcategory2}}</option>
                                    </select>
                                  </div>
                        
                        
                                  <div class="form-group" >
                                    <label for="brand" class="label-control">Product Brand</label>
                                    <select class="form-control  " style="border: 1px solid lightgray;" [(ngModel)]="gbrand"  [ngModelOptions]="{standalone: true}" id="brand" >
                                        <option selected >{{gbrand}}</option>
                                      <option *ngFor="let brand of ggbrand" value="{{brand.brand}}">{{brand.brand}}</option>
          
                                    </select>
                                  </div>
                        
                                  <div class="form-group">
                                    <label for="images" class="label-control">Product Cover Image(s)</label>
                                    <input type="file" multiple (change)="oncoverupload($event)" style="border: 1px solid lightgray;" name="cfile" id="cfile" class="form-control ">
                                </div>
  <div class="form-group">
  <label for="images" class="label-control">Product Images</label>
          <input type="file" multiple  (change)="onFileChanged($event)" style="border: 1px solid lightgray;" name="file" id="file" class="form-control ">
                                </div>
                        
                        </form>
                      </div>
                    </div>
              <br>
              <h6 class="pt-2 pb-2 pl-2 pr-2" style="background-color:#418ec4;color:white">PRODUCT FEATURES</h6>
            <editor
            [(ngModel)]="features"
            initialValue="<p>Initial content of the editor</p>"
            apiKey="0zdkwzyolkjb7wno4bisfcjfe1ase56cxgyyqra1x9ommzyf"
            [init]="{
              height: 500,
              menubar: true,
              plugins: [
                'advlist autolink lists link image charmap print',
                'preview anchor searchreplace visualblocks code',
                'fullscreen insertdatetime media table paste',
                'help wordcount'
              ],
              toolbar:
                'insertfile undo redo | formatselect | bold italic | \
                alignleft aligncenter alignright alignjustify | \
                bullist numlist outdent indent | help'
            }"
            >
            </editor>
                 <br>
                 <h6 class="pt-2 pb-2 pl-2 pr-2" style="background-color:#418ec4;color:white">PRODUCT DESCRIPTION</h6>
              <editor id="image-tools"
              [(ngModel)]="description"
              apiKey="0zdkwzyolkjb7wno4bisfcjfe1ase56cxgyyqra1x9ommzyf"
              [init]="{
                height: 500,
                plugins: [
                  'advlist autolink lists link image charmap print preview anchor',
                  'searchreplace visualblocks code fullscreen',
                  'insertdatetime media table paste imagetools wordcount'
                ],
                toolbar: 'insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image',
                image_advtab: true,
                images_upload_url: 'postAcceptor.php',
                images_upload_credentials: true,
                automatic_uploads: false,
                image_uploadtab: true
              }"
              
              >
              
              </editor>
              <br>
              <h6 class="pt-2 pb-2 pl-2 pr-2" style="background-color:#418ec4;color:white">PRODUCT DATA</h6>
              <div class="card">
                
                <div class="container-fluid">
                  <div class="row">
                    <div class="col-md-4">
                      <div class="form-group">
                        <label for="rprice" class="label-control">Product Type</label>
                        <select class="form-control" (change)="gptype($event)" style="border: 1px solid lightgray;height:30px;font-size: 14px">
                         <option></option>
                          <option value="Simple product" style="font-size:14px">Simple product</option>
                          <option value="Grouped product"style="font-size:14px">Grouped product</option>
                          <option value="External/affiliate product"style="font-size:14px">External/affiliate product</option>
                          <option value="Variable product"style="font-size:14px">variable product</option>
                        </select>
                      </div>
                          <div class="ml-2 form-check">
                            <input type="checkbox" [(ngModel)]="virtual" class="form-check-input" id="exampleCheck1">
                            <label class="form-check-label" for="exampleCheck1">Virtual</label>
                          </div>
                          <div class="ml-2 form-check">
                            <input type="checkbox" [(ngModel)]="downloadable" class="form-check-input" id="exampleCheck1">
                            <label class="form-check-label" for="exampleCheck1">Downloadable</label>
                          </div>
                    </div>
                    <div class="col-md-4">
          <div *ngIf="ptype">

    <div class="form-group">
        <label for="" class="label-control">Minimum Price</label>
        <input type="number" name="minimumPrice" id="minimumPrice" [(ngModel)]="minimumPrice" style="border: 1px solid lightgray;height:30px" class="form-control">
      </div>

      <div class="form-group">
          <label for="" class="label-control">Maximum Price</label>
          <input type="number" name="maximumPrice" id="maximumPrice" [(ngModel)]="maximumPrice" style="border: 1px solid lightgray;height:30px" class="form-control">
        </div>

</div>
                     
                        <div class="form-group">
                            <label for="rprice" class="label-control">Regular Price (AED)</label>
                            <input type="number" id="regularprice_input" [(ngModel)]="regularprice" style="border: 1px solid lightgray;height:30px" class="form-control">
                            <button class="btn btn-sm mt-2 rounded-0" (click)="addregularprice()" style="color:white;background-color:#418ec4">ADD PRICE</button>
                          </div>
                          {{regularprice}}
                          <div >

                          </div>
                          <div class="form-group">
                              <label for="rprice" class="label-control">Sales Price (AED)</label>
                              <input type="number" [(ngModel)]="saleprice" style="border: 1px solid lightgray;height:30px" class="form-control">
                              <button class="btn btn-sm mt-2 rounded-0" (click)="addsalesprice()" style="color:white;background-color:#418ec4">ADD PRICE</button>
                            </div>
                            {{saleprice}}
                            <div class="form-group">
                                <label for="rprice" class="label-control">Sale Quantity</label>
                                <input type="number" [(ngModel)]="salequantity" style="border: 1px solid lightgray;height:30px" class="form-control">
                                <button class="btn btn-sm mt-2 rounded-0" (click)="addsalequantity()" style="color:white;background-color:#418ec4">ADD PRICE</button>
                            
                              </div>
                              <div class="form-group">
                                  <label for="rprice" class="label-control">Sold Items</label>
                                  <input type="number" [(ngModel)]="solditems" style="border: 1px solid lightgray;height:30px" class="form-control">
                                  <button class="btn btn-sm mt-2 rounded-0" (click)="addsolditems()" style="color:white;background-color:#418ec4">ADD PRICE</button>
                            
                                </div>
                                <div class="form-group">
                                    <label for="rprice" class="label-control">Tax Status</label>
                                    <select class="form-control" (change)="gtaxstatus($event)" style="border: 1px solid lightgray;height:30px;font-size: 14px" >
                                      <option value="Taxable" style="font-size:14px">Taxable</option>
                                      <option value="Shipping only"style="font-size:14px">Shipping only</option>
                                      <option value="None"style="font-size:14px">None</option>
                                    </select>
                                  </div>
                                  <div class="form-group">
                                      <label for="rprice" class="label-control">Tax Class</label>
                                      <select class="form-control" (change)="gtaxclass($event)" style="border: 1px solid lightgray;height:30px; font-size: 14px">
                                        <option value="Standard" style="font-size:14px">Standard</option>
                                        <option value="Reduced rate" style="font-size:14px">Reduced rate</option>
                                        <option value="Tax 1" style="font-size:14px">Tax 1</option>
                                        <option value="Tax 2" style="font-size:14px">Tax 2</option>
                                        <option value="Tax 3" style="font-size:14px">Tax 3</option>
                                        <option value="Zero rate" style="font-size:14px">Zero rate</option>
                                        
                                      </select>
                                    </div>
                                    
                    </div>
                    <div class="col-md-4"></div>
                  </div>
                </div>
                
              </div>
<!--
 <h6 class="pt-2 pb-2 pl-2 pr-2" style="background-color:#418ec4;color:white">PRODUCT DATA (COLOR)</h6>
             <div *ngFor="let cap of capacity; let i = index">
                <h6 class="mt-4">For {{cap}}</h6>
              <div class="card">
                
                <div class="container-fluid">
                  <div class="row">
                    <div class="col-md-4">
                      
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="rprice" class="label-control">Regular Price (AED)</label>
                            <input type="number" id="regularprice_input" [(ngModel)]="regularpriceColor" style="border: 1px solid lightgray;height:30px" class="form-control">
                            <button class="btn btn-sm mt-2 rounded-0" (click)="addregularpriceColor()" style="color:white;background-color:#418ec4">ADD PRICE</button>
                          </div>
                          {{regularprice}}
                          <div >

                          </div>
                          <div class="form-group">
                              <label for="rprice" class="label-control">Sales Price (AED)</label>
                              <input type="number" [(ngModel)]="salepriceColor" style="border: 1px solid lightgray;height:30px" class="form-control">
                              <button class="btn btn-sm mt-2 rounded-0" (click)="addsalespriceColor()" style="color:white;background-color:#418ec4">ADD PRICE</button>
                            </div>
                            {{saleprice}}
                            <div class="form-group">
                                <label for="rprice" class="label-control">Sale Quantity</label>
                                <input type="number" [(ngModel)]="salequantityColor" style="border: 1px solid lightgray;height:30px" class="form-control">
                                <button class="btn btn-sm mt-2 rounded-0" (click)="addsalequantityColor()" style="color:white;background-color:#418ec4">ADD PRICE</button>
                            
                              </div>
                              <div class="form-group">
                                  <label for="rprice" class="label-control">Sold Items</label>
                                  <input type="number" [(ngModel)]="solditemsColor" style="border: 1px solid lightgray;height:30px" class="form-control">
                                  <button class="btn btn-sm mt-2 rounded-0" (click)="addsolditemsColor()" style="color:white;background-color:#418ec4">ADD PRICE</button>
                            
                                </div>
                                    
                    </div>
                    <div class="col-md-4"></div>
                  </div>
                </div>
                
              </div>
             </div>
             

-->
             
             
              
             
                  </div>
                  
                  <div class="col-md-4">
                      <h6 class="pt-2 pb-2 pl-2 pr-2" style="background-color:#418ec4;color:white">PRODUCT SPECIFICATIONS</h6>
                    <div class="card">
                      <div class="container-fluid">
                        <div class="form-group">
                          <label for="color" class="label-control">Color</label>
                         <select class="form-control" (change)="ggcolor($event)" mutiple
                         style="border: 1px solid lightgray;height:30px; font-size: 14px">
                            <option *ngFor="let color of gcolor" value="{{color.color}}" style="font-size:14px">{{color.color}}</option>
                           
                            
                          </select>
                        </div>
                        <div class="form-group">
                          <label for="ram" class="label-control">Cable length</label>
                          <select class="form-control" (change)="gcable($event)"  mutiple
                         style="border: 1px solid lightgray;height:30px; font-size: 14px">
                            <option *ngFor="let cable of cables" value="{{cable.cable}}" style="font-size:14px">{{cable.cable}}</option>
                           
                            
                          </select>
                         </div>
                      <div class="form-group">
                          <label for="capacity" class="label-control">Digital Capacity</label>
                          <select class="form-control" [(ngModel)]="capacity" style="border: 1px solid lightgray; font-size: 14px" multiple>
                            <option *ngFor="let capacity of dgcapacity" value="{{capacity.capacity}}" style="font-size:14px">{{capacity.capacity}}</option>
                            
                              
    
                            
                          </select>
                      </div>

                     
                      </div>
                    </div>
                    <h6 class="pt-2 pb-2 pl-2 pr-2 mt-4" style="background-color:#418ec4;color:white">WARRANTY</h6>
                    <div class="card">
                      <div class="container-fluid">
                        <div class="form-group">
              
                          <input type="text"  name="color" (change)="gwarranty($event)" style="border: 1px solid lightgray;height:30px; font-size: 14px" class="mt-2 form-control">
                      </div>
                     
                      <div class="form-group">
                          <label for="ram" class="label-control">UPC Code</label>
                          <input type="text" name="ram" (change)="gupc($event)" style="border: 1px solid lightgray;height:30px; font-size: 14px" class="form-control">
                      </div>
                      </div>
                    </div>
                  </div>
                </div>
                <button class="btn btn-md form-control mt-2 mb-2"  (click)="uploadProduct($event)" style="background-color:#418ec4; color:white">UPLOAD PRODUCT</button>
              </div>
             
                     
        </div>
      </div>
      <!-- Button trigger modal -->


<!-- Modal -->
<div >
  <div class="modal show" id="modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          ...
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>
</div>

<a href=""></a>

    <app-dashboard-footer></app-dashboard-footer>
</div>
