<app-navbar></app-navbar>
<div class="container-fluid">
    <div class="row mt-4">
        <div class="col-md-4">
<div class="row">
    <div class="col-4" >
        <div *ngFor="let images of product.images">
                <img src="assets/productsimages/{{images.filename}}" class="mb-2" style="height:100px; width:100px" alt=""> <br>
        </div>

    </div>
    <div class="col-8">
            <div *ngFor="let cimage of product.cimage">
                    <img src="assets/productsimages/{{cimage.filename}}" style="width:100%" alt=""> <br>
            </div>
        
    </div>
</div>
        </div>
        <div class="col-md-5">
<h3>{{product.name}}</h3>
<a routerLink="" style="color:gray;font-size:14px">Brand: <span style="color:#418ec4">{{product.brand}} </span> </a>
<hr>
<h3 style="color:#418ec4"><b>AED {{product.saleprice}} </b></h3>
<p style="font-size:14px">Status: <span style="color:lightgreen">Only left {{product.saleuantity - product.solditems}} in the stock</span> </p>
<div innerHTML="{{product.features}}"></div>
<hr>
<div class="row">
    <div class="col-md-2 mt-1">
            
<input type="number" class="mb-2 form-control  rounded-0" [(ngModel)]="quantity" name="quantity" id="quantity">
    </div>
    <div class="col-md-4 d-flex justify-content-center">
        
                    <button class="btn btn-l mr-2 rounded-0" data-toggle="modal" data-target="#exampleModalCenter" (click)="addtocart(product)" style="background-color:#418ec4;color:white">ADD TO CART</button><br>
  
    </div>
    <div class="col-md-3 d-flex justify-content-center">
            <button class="btn btn-l rounded-0" data-toggle="modal" data-target="#exampleModalCenter" (click)="addtocart(product)" style="background-color:#418ec4;color:white">BUY NOW</button>
            
    </div>
    <div class="col-md-3 d-flex justify-content-center" >
       
            <a routerLink="" style="font-size:30px;color: #418ec4" class="mr-2"><i class="fa fa-heart" aria-hidden="true"></i></a>
<a routerLink="" style="font-size:30px;color: #418ec4" class="mr-2"><i class="fa fa-bar-chart" aria-hidden="true"></i></a>
    </div>
</div>
<hr>
<p style="font-size:14px">Categories: <a routerLink="">{{product.Brand}}</a>, <a routerLink="">{{product.subcategory}}</a>,<a routerLink="">{{product.category}}</a></p>
<div class="sharethis-inline-share-buttons"></div>
        </div>
        <div class="col-md-3">
            <div class="card" style="width:300px">
                <div class="ml-2 form-group">
                        Qty: <input type="number" style="width:100px" class="pt-4 form-control" value="1">
                </div>
           

           <h1 class="mt-4 pl-2" style="color:midnight#418ec4">UPC Code</h1>

                <a routerLink="" style="font-size:16px" class="pl-2"><i style="color:gray" class="fa fa-lock pr-2" aria-hidden="true"></i>     Secure Transaction</a>
                <p class="pl-2"><b>Add a protection plan</b></p>
                <div class="ml-2 form-check">
                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                    <label class="form-check-label" for="exampleCheck1">1 year extended warranty for AED 150.00</label>
                  </div>
                  <div class="ml-2 form-check">
                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                        <label class="form-check-label" for="exampleCheck1">1 year accidental damage protection on mobile (AED2,500-AED3,000) for AED 150.00</label>
                      </div>
                      <div class="ml-2 form-check">
                            <input type="checkbox" class="form-check-input" id="exampleCheck1">
                            <label class="form-check-label" for="exampleCheck1">1 year accidental damage protection on mobile (AED2,500-AED3,000) for AED 150.00 + 1 year extended warranty</label>
                          </div>
            </div>
        </div>
    </div>

   <div class="row mt-4">
<div class="col-lg-9">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item">
                  <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home"
                    aria-selected="true">Description</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile"
                    aria-selected="false">Specifications</a>
                </li>
              </ul>
              <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                        <div innerHTML="{{product.description}}" class="mt-4 dess"></div>
                        
                </div>
                <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                        
                </div>
               
              </div>
    <section id="tabs">
              <nav>
                <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
                  <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" routerLink="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Description</a>
                  <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" routerLink="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Specifications</a>
                   </div>
              </nav>
              <div class="tab-content py-3 px-3 px-sm-0" id="nav-tabContent">
                <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                    <p style="font-size:14px">
                        
                    {{product.productDescription}}</p>
                  </div>
                <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                        <p style="font-size:14px">
                            {{product.productSpec}}</p> </div>
               
              </div>
            
        
      </section>
</div>
<div class="col-lg-3">

</div>
   </div>

    <h5 class="mt-4"><b>See it styled on instagram</b></h5>
    <hr class="mb-4">
    <p style="font-size:14px;color:gray" class="mb-4">Instagram did not return any images</p>


    <h5 class="mt-4"><b>Related products</b></h5>

    <hr>
<div class="row">
    <div class="col-md-3">
<img src="assets/IMAGES/rs4.png" style="width:100%" alt="">
<a routerLink="" class="text-center">Samsung galaxy s19</a>
    </div>
    <div class="col-md-3">
            <img src="assets/IMAGES/rs1.png" style="width:100%" alt="">
            <a routerLink="" class="text-center">Samsung galaxy s19</a>
    </div>
    <div class="col-md-3">
            <img src="assets/IMAGES/rs2.png" style="width:100%" alt="">
            <a routerLink="" class="text-center">Samsung galaxy s19</a>
    </div>
    <div class="col-md-3">
            <img src="assets/IMAGES/rs3.png" style="width:100%" alt="">
            <a routerLink="" class="text-center">Samsung galaxy s19</a>
    </div>
</div>
</div>

 
  
  <!-- Modal -->
  <div class="modal rounded-0 fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog rounded-0 modal-dialog-centered" role="document">
      <div class="modal-content rounded-0">
        <div class="modal-header rounded-0">
          <h5 class="modal-title rounded-0 alert-success pl-2 pt-2 pb-2 pr-2" style="font-size:18px; text-align: center !important" id="exampleModalLongTitle">Success! Item has been added to your cart</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-12">
                    <table class="table table-borderless">
                        <thead style="background-color:#418ec4; color:white">
                          <tr>
                            
                            <th scope="col">PRODUCT</th>
                            <th scope="col">QUANTITY</th>
                            <th scope="col"> PRICE</th>
                            <th scope="col"></th>
                          </tr>
                        </thead>
                        <tbody >
                          <tr>
                            
                            <td> 
                                <div class="row">
                                    <div class="col-4">
                                            <img src="{{product.image}}" style="width:100px;height:100px" alt="">
                                    </div>
                                    <div class="col-8">
                                            {{product.name}} 
                                    </div>
                                </div>
                            </td>
                            
                            <td>{{product.quantity}}</td>
            
                            <td>AED {{product.price * product.quantity}}</td>
                            
                        </tr>
            
                      
            
                        </tbody>
                      </table>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <a data-dismiss="modal" routerLink="/cart" style="color:white;background-color:#418ec4" class="btn rounded-0 btn-md">VIEW CART</a>
            <a data-dismiss="modal" routerLink="/checkout" style="color:white;background-color:#418ec4" class="btn rounded-0 btn-md">CHECKOUT</a>
            <a data-dismiss="modal" routerLink="/" style="color:white;background-color:#418ec4" class="btn rounded-0 btn-md">CONTINUE SHOPPING</a>
        </div>
      </div>
    </div>
  </div>
  
    <!-- ./Tabs -->

<app-footer></app-footer>

   
