<app-navbar></app-navbar>
<div class="container-fluid">
    <div class="row" style="float:right" *ngIf="router.url ==='/smartphones'">
        <div class="col-md-2">

        </div>
    </div>

    <div class="row" style="float:right" *ngIf="router.url ==='/tablets'">
        <div class="col-md-2">

        </div>
    </div>

    <div class="row" style="float:right" *ngIf="router.url ==='/mobile-phones'">
        <div class="col-md-2">

        </div>
    </div>

    <div class="row" style="float:right" *ngIf="router.url ==='/smart-homes'">
        <div class="col-md-2">

        </div>
    </div>

    <div class="row" style="float:right" *ngIf="router.url ==='/cameras'">
        <div class="col-md-2">

        </div>
    </div>

    <div class="row" style="float:right" *ngIf="router.url ==='/electric-scooters'">
        <div class="col-md-2">

        </div>
    </div>

    <div class="row" style="float:right" *ngIf="router.url ==='/mobile-accessories'">
        <div class="col-md-2">

        </div>
    </div>

    <div class="row" style="float:right" *ngIf="router.url ==='/computer-and-accessories'">
        <div class="col-md-2">

        </div>
    </div>
</div>
<app-footer></app-footer>
