a{
    color:white;
}

.input-group.md-form.form-sm.form-1 input{
    border: 1px solid #bdbdbd;
    border-top-right-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
  }
  .input-group.md-form.form-sm.form-2 input {
    border: 1px solid #bdbdbd;
    border-top-left-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
  }
  .input-group.md-form.form-sm.form-2 input.red-border {
    border: 1px solid #ef9a9a;
  }
 
  .nav-link{
    color:white !important;
  }

  .navbar{
    background-color: midnightblue !important;

  }

  .navbar-brand{
    display: none;
  }

  .dropdown:hover > .dropdown-menu{
    display: block;
  }

  .dropdown:hover > #navbarDropdown{
    color:midnightblue !important;
    background-color: white;
    padding-bottom: 10px;
  }

  .dropdown-item{
    color: gray;
  }

  @media(max-width:576px){
    .navbar-brand{
      display:block;
    }

    .dropdown-menu{
      width:100% !important;
    }

    .input-group{
      display: none;
    }

    .welcome{
      display:none
    }

    .logo{
      display:none;
    }

    .ip{
      display: block;
    }

    .navbar{
      background-color: #343a40 !important;
    }

    .form-inline{
      display:block !important;
    }

    .lists{
      display:none
    }

    .phones{
      display: block !important;
    }
  }

  .icons{
    display: inline-block
  }

  ul li a {
    position:relative;
    display: flex;
 }

 ul{
  margin:0;
  padding:0;
  display:flex;
}

.navbar-toggler{
  width: 47px;
  height: 34px;
  background-color: transparent;
  border:none;
}

.navbar-toggler .line{
  width: 100%;
  float: right;
  height: 2px;
  background-color: midnightblue !important;
  color:midnightblue;
  margin-bottom: 5px;
}
