<div class="header bg-dark">
  <div class="container-fluid pt-2">
      <div class="row welcome">
          <div class="col-md-6">
            <a routerLink>Welcome to Noor Deal Online Store</a>
          </div>
          <div class="col-md-6" >
            <div class="right" style="float: right;color:white">
                <a routerLink="" >Track your Order</a> | <a routerLink="">Store Location</a> 
            </div>
          
          </div>
        </div>
        <div class="row">
          <div class="col-md-3 logo">
              <img src="assets/IMAGES/aslogo.png" style="width:100%" alt="">
          </div>
          <div class="col-md-6">
              <div class="input-group mb-2 md-form form-sm form-2 pl-0" style="padding-top:50px;">
                  <input class="form-control my-0 py-1 amber-border rounded-0" type="text" placeholder="Search" aria-label="Search">
                  <div class="input-group-append">
                    <span class="input-group-text amber rounded-0 lighten-3" style="color:white;background-color:#418ec4" id="basic-text1"><i class="fa fa-search rounded-0 text-grey"
                        aria-hidden="true"></i></span>
                  </div>
                </div>
                
          </div>
          <div class="col-md-3 lists" style="padding-top:55px;float: right">
<ul style="list-style:none;" class="lrcw">
  <li><a routerLink="" style="color:#418ec4" class="mr-2"><h6><i class="fa fa-heart" aria-hidden="true"></i></h6></a></li>
  <li><h6><a routerLink="/cart" style="color:#418ec4" (click)="gotocart()" class="mr-2"><i class="fa fa-shopping-cart" aria-hidden="true"></i></a></h6>
  </li>
  
  <li><a routerLink="/login" style="color:#418ec4"> <h6>Login </h6> </a></li>
  <li><a routerLink="/register" style="color:#418ec4"> <h6> Register</h6> </a></li>

</ul>

          </div>
        </div>
  </div>
  
</div>

<nav class="navbar navbar-expand-lg navbar-light bg-dark">
    <button class="navbar-toggler max" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="line"></span> 
        <span class="line"></span> 
        <span class="line"></span>
      </button>
      
       
    <a class="navbar-brand" routerLink="/"><img src="assets/IMAGES/aslogo.png" style="margin-right:-20px" alt=""></a>
   
     <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        
            <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" routerLink="#" id="navbarDropdown" role="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    MOBILE & TABLETS
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" style="color:black !important" routerLink="Smartphones">Smartphones</a>
                        <div class="pl-2">
                              
                            <a routerLink="/brand/Iphone" class="dropdown-item" >Iphone</a>
                            <a routerLink="/brand/Xiaomi" class="dropdown-item" >Xiaomi Mobile Phones</a>
                            <a routerLink="/brand/Samsung"class="dropdown-item" >Samsung Mobile Phones</a>
                            <a routerLink="/brand/Huawei"class="dropdown-item" >Huawei mobile phones</a>
                            <a routerLink="/brand/Honor"class="dropdown-item" >Honor Mobile Phones</a>
                            <a routerLink="/brand/Black-Shark"class="dropdown-item" >Black Shark</a>
                            <a routerLink="/brand/Asus"class="dropdown-item" >Asus</a>
                            <a routerLink="/brand/One-Plus" class="dropdown-item" >One Plus</a>
                            <a routerLink="/brand/Oppo" class="dropdown-item" >Oppo</a>
                            <a routerLink="/brand/Real-me"class="dropdown-item" >Real me</a>
                            <a routerLink="/brand/lenovo" class="dropdown-item" >lenovo</a>
                            <a routerLink="/brand/Nokia" class="dropdown-item" >Nokia</a>
                            <a routerLink="/brand/Nubia" class="dropdown-item" >Nubia</a>
                        </div>
                        <a class="dropdown-item" style="color:black !important" routerLink="/Mobile-Phones">Mobile Phones</a>
                        <a class="dropdown-item" style="color:black !important" routerLink="/Tablets">Tablets</a>
                      </div>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" routerLink="#" id="navbarDropdown" role="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    MOBILE ACCESSORIES
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" style="color:black !important" routerLink="/shop/Speakers">Speakers</a>
                    <a class="dropdown-item" style="color:black !important" routerLink="/shop/Cables">Cables</a>
                    <a class="dropdown-item" style="color:black !important" routerLink="/shops/Power-Banks">Powerbanks</a>
                    <a class="dropdown-item" style="color:black !important" routerLink="/shop/Chargers">Chargers</a>
                        <div class="pl-2">
                                
                            <a routerLink="/shop/product/Wall-Charger" class="dropdown-item" >Wall Charger</a>
                            <a routerLink="/shop/product/Multi-port-Charger" class="dropdown-item" >Multi port Charger</a>
                            <a routerLink="/shop/product/Wireless-Charger"class="dropdown-item" >Wireless Charger</a>
                            
                        </div>
                        <a class="dropdown-item" style="color:black !important" routerLink="/shop/Wearables">Wearables</a>
                        <div class="pl-2">
                                
                                <a routerLink="/shop/product/Smart-Watches" class="dropdown-item" >Smart Watches</a>
                                <a routerLink="/shop/product/Smart-Bands" class="dropdown-item" >Smart Bands</a>
                               
                                
                            </div>
                        <a class="dropdown-item" style="color:black !important" routerLink="/shop/Car-Accessories">Car Accessories</a>
                        <div class="pl-2">
                                
                                <a routerLink="/shop/product/Car-Charger" class="dropdown-item" >Car Charger</a>
                                <a routerLink="/shop/product/Holders" class="dropdown-item" >Holders</a>
                               
                            </div>
                            <a class="dropdown-item" style="color:black !important" routerLink="/shop/Headphones">Headphones</a>
                            <div class="pl-2">
                                
                                    <a routerLink="//shop/product/Wireless-and-Bluetooths" class="dropdown-item" >Wireless and bluetooths</a>
                                    <a routerLink="/shop/product/Ear-Buds-and-In-Ear" class="dropdown-item" >Ear Buds and In-Ear</a>
                                    <a routerLink="/shop/product/Over-Ear-and-On-Ear"class="dropdown-item" >Over-Ear and On-Ear</a>
                                    <a routerLink="/shop/product/Kids-Headphones" class="dropdown-item" >Kids Headphones</a>
                                    <a routerLink="/shop/product/PC-Gaming-Headsets" class="dropdown-item" >PC Gaming Headsets</a>
                                    
                                </div>
                      </div>
                </li>

                
                <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" routerLink="#" id="navbarDropdown" role="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        ELECTRIC SCOOTER
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" style="color:black !important" routerLink="/shop/Segway-Ninebot-Scooter">Segway Ninebot Scooter</a>
                            <a class="dropdown-item" style="color:black !important" routerLink="/shop/MI-Electric-Scooter">MI Electric Scooter</a>
                            <a class="dropdown-item" style="color:black !important"routerLink="/shop/Xiaomi-Mijia-Electric-Scooter">Xiaomi Mijia Electric Scooter</a>
                          </div>
                          
                    </li>

                    
                <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" routerLink="#" id="navbarDropdown" role="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        COMPUTER & ACCESSORIES
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" style="color:black !important" routerLink="/shop/PC-Accessories">PC Accessories</a>
                            <div class="pl-2">
                              
                                    <a routerLink="/shop/product/Mouse" class="dropdown-item" >mouse</a>
                                    <a routerLink="/shop/product/Keyboards" class="dropdown-item" >Keyboards</a>
                                    <a routerLink="/shop/product/Monitors" class="dropdown-item" >Monitors</a>
                                    <a routerLink="/shop/product/Mother-Board"class="dropdown-item" >Mother Board</a>
                                    <a routerLink="/shop/product/Processor"class="dropdown-item" >Processor</a>
                                    <a routerLink="/shop/product/Ram"class="dropdown-item" >Ram</a>
                                    <a routerLink="/shop/product/Hard-Disk"class="dropdown-item" >Hard Disk</a>
                                    <a routerLink="/shop/product/Pen-Drives" class="dropdown-item" >Pen Drives</a>
                                    <a routerLink="/shop/product/Computer-Cases" class="dropdown-item" >Computer cases</a>
                                    <a routerLink="/shop/product/PC-Speakers"class="dropdown-item" >Pc Speakers</a>
                                </div>
                            <a class="dropdown-item" style="color:black !important" routerLink="/shop/Desktop-Computers">Desktop Computers</a>
                            <a class="dropdown-item" style="color:black !important" routerLink="/shop/Laptops">Laptops</a>
                            <a class="dropdown-item" style="color:black !important" routerLink="/shop/Printers-and-Ink">Printers and Ink</a>
                            <a class="dropdown-item" style="color:black !important" routerLink="/shop/Networking">Networking</a>
                          </div>
                    </li>

                    
                <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" routerLink="#" id="navbarDropdown" role="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        ELECTRONICS
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" style="color:black !important" routerLink="/shop/Home-Theartres">Home Theartres</a>
                            <a class="dropdown-item" style="color:black !important" routerLink="/shop/Projectors">Projectors</a>
                            <a class="dropdown-item" style="color:black !important" routerLink="/shop/Tvs">TVs</a>
                            <div class="pl-2">
                                    <a routerLink="/shop/product/Smart-Tvs" class="dropdown-item" >Smart TVs</a>
                                    <a routerLink="/shop/product/Curved-Tvs" class="dropdown-item" >Curved TVs</a>
                                    <a routerLink="/shop/product/4K-UltraHD-Tvs"class="dropdown-item" >4K Ultra HD TVs</a>
                                    <a routerLink="/shop/product/LED-Tvs"class="dropdown-item" >LED TVs</a>
                                    <a routerLink="/shop/product/OLED-Tvs"class="dropdown-item" >OLED TVs</a>
                                   
                                </div>
                                <a class="dropdown-item" style="color:black !important" routerLink="/shop/Video-Games-and-Cocoles">Video Games and Consoles</a>
                            <div class="pl-2">
                              
                                    <a routerLink="/shop/product/Play-Stations" class="dropdown-item" >Play Stations</a>
                                    <a routerLink="/shop/product/Xbox" class="dropdown-item" >Xbox</a>
                                    <a routerLink="/shop/product/Game-Consoles"class="dropdown-item" >Game Consoles</a>
                                    <a routerLink="/shop/product/Gaming-Accessories"class="dropdown-item" >Gaming Accessories</a>
                                    
                                   
                                </div>
                          </div>
                    </li>

                    
                <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" routerLink="/Cameras" id="navbarDropdown" role="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        CAMERAS
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" style="color:black !important" routerLink="/shop/DSLR-Cameras">DSLR Cameras</a>
                            
                          </div>
                    </li>

      </ul>
    </div>
    <div class="phones d-flex justify-content-end" style="float: right !important;">
        <a routerLink="" style="color:#343a40;font-size: 20px" class=""><i class="fa fa-heart" aria-hidden="true"></i></a>
        <a routerLink="/cart" style="color:#343a40;font-size: 20px" class="ml-2 mr-2"><i class="fa fa-shopping-cart" aria-hidden="true"></i></a>
       <a routerLink="/login" style="color:#343a40">Login</a>
  <a routerLink="/register" style="color:#343a40"> Register</a>
    </div>
   
   
  </nav>