<app-navbar>

</app-navbar>

<div class="container-fluid">
    <h2 class="text-center mt-4 mb-4">Delivery and Payment Policy</h2>
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
<ul>
    <li>
        <b>Delivery Policy</b>
        <ul>
            <li>Delivery fee is 10 AED only All of The Emirates and we only ship in United Arab Emirates.</li>
            <li>Local Courier services would be used to dispatch the items. Carrier We Use For Delivery
                <ul>
                    <li>Safe-arrival
                            
                            </li>
                    <li> NasExpress</li>
                    <li>FlyExpress</li>
                    
                </ul>
            </li>
            <li>The tracking number would be sent via SMS or Email.</li>
            <li>We Will Process the Order for Shipment after You’ve Placed Order Successfully</li>
            <li>After your order has been dispatched from our warehouse The Product Will Be delivered within 2 Business Day Somehow There Will Be Delay If There Is Any Weather Condition or Holidays.</li>
        </ul> 
      
    </li>
    <li>
        <b>Payment Policy</b>
        <ul>
            <li>Payment confirmation on receipt of payment would be sent by Email or SMS</li>
            <li>Cardholder shall be provided, and must retain a copy of all the transaction records, merchant policies and rules</li>
            <li>We shall keep the proof of delivery receipt signed/confirmed by you, the registered customer.</li>
        </ul>
        
    </li>
</ul>
        </div>
        <div class="col-md-3"></div>
    </div>
</div>

<app-footer></app-footer>
