ul{
list-style:none;
}
.footer{
 background-color:#343a40;   
}

h6{
    color:white;
}

a{
    color:lightgray;
}

.head:hover{
    color:lightgray !important;
}

a{
    font-size: 14px;
}

#call, #submit{
    font-size: 32px;
}