<app-navbar></app-navbar>
<div class="container-fluid">
        <h2 style="color:#418ec4" class="text-center mt-4" *ngIf="router.url ==='/brand/Iphone'">BRAND: <span style="color:black">IPHONE</span></h2>
        <h2 style="color:#418ec4" class="text-center mt-4" *ngIf="router.url ==='/brand/Samsung'">BRAND: <span style="color:black">SAMSUNG</span></h2>
        <h2 style="color:#418ec4" class="text-center mt-4" *ngIf="router.url ==='/brand/Honor'">BRAND: <span style="color:black">HONOR</span></h2>
        <h2 style="color:#418ec4" class="text-center mt-4" *ngIf="router.url ==='/brand/Xiaomi'">BRAND: <span style="color:black">XIAOMI</span></h2>
        <h2 style="color:#418ec4" class="text-center mt-4" *ngIf="router.url ==='/brand/Black-Shark'">BRAND: <span style="color:black">BLACK SHARK</span></h2>
        <h2 style="color:#418ec4" class="text-center mt-4" *ngIf="router.url ==='/brand/Huawei'">BRAND: <span style="color:black">HUAWEI</span></h2>
        <h2 style="color:#418ec4" class="text-center mt-4" *ngIf="router.url ==='/brand/Oppo'">BRAND: <span style="color:black">OPPO</span></h2>
        <h2 style="color:#418ec4" class="text-center mt-4" *ngIf="router.url ==='/brand/One-Plus'">BRAND: <span style="color:black">ONE PLUS</span></h2>
        <h2 style="color:#418ec4" class="text-center mt-4" *ngIf="router.url ==='/brand/Nokia'">BRAND: <span style="color:black">NOKIA</span></h2>
        <h2 style="color:#418ec4" class="text-center mt-4" *ngIf="router.url ==='/brand/Nubia'">BRAND: <span style="color:black">NUBIA</span></h2>
        <h2 style="color:#418ec4" class="text-center mt-4" *ngIf="router.url ==='/brand/Amazfit'">BRAND: <span style="color:black">AMAZFIT</span></h2>
       
        <div class="row" style="float:right" *ngIf="router.url ==='/brand/Iphone'">
            <div class="col-md-2 " *ngFor="let product of iphone">
                <div class="container-fluid">
                    <button class="btn btn-sm btn-info rounded-0" style="float:left;">-{{product.discount}}%</button>
                    <button class="btn btn-sm btn-danger rounded-0" *ngIf="product.salequantity === 0" style="float:right;">Out of Stock</button>
                    <button class="btn btn-sm btn-success rounded-0" *ngIf="product.salequantity !== 0" style="float:right;">2 items in stcok</button>
                      
                    
                        <div *ngFor="let cimage of product.cimage">
                            <img src="assets/productsimages/{{cimage.filename}}"  style="width:100%;">
                        </div>
                     
                     <a [routerLink]="['/product/',product._id]" style="font-size: 14px;color:#418ec4" class="hitems text-center">
                     
                          {{product.name}}
                     </a>
                      <div *ngIf="product.saleprice.length === 1 ">
                              <p style="color:#dc3545" class="prices" >AED {{product.saleprice}}  <span *ngIf="product.regularprice" style="color:gray;font-size: 14px"> <del>AED {{product.regularprice}}</del></span></p>
                            </div>
                            
             <div *ngIf="product.saleprice.length > 1 ">
<p style="color:#dc3545" class="prices">{{product.minimumPrice}} - {{product.maximumPrice}}</p>
             </div>
                 
                 </div>
            </div>
    </div>
    <div class="row" *ngIf="router.url ==='/brand/Iphone' && iphone.length === 0 || iphone.length === undefined">
       <div class="col-md-12">
           <h2 class="text-center" style="margin-top:100px;margin-bottom:100px">There are no products available</h2>
       </div>
    </div>

    <div class="row" style="float:right" *ngIf="router.url ==='/brand/Samsung'">
        <div class="col-md-2 " *ngFor="let product of samsung">
            <div class="container-fluid">
                <button class="btn btn-sm btn-info rounded-0" style="float:left;">-{{product.discount}}%</button>
                <button class="btn btn-sm btn-danger rounded-0" *ngIf="product.salequantity === 0" style="float:right;">Out of Stock</button>
                <button class="btn btn-sm btn-success rounded-0" *ngIf="product.salequantity !== 0" style="float:right;">2 items in stcok</button>
                  
                
                    <div *ngFor="let cimage of product.cimage">
                        <img src="assets/productsimages/{{cimage.filename}}"  style="width:100%;">
                    </div>
                 
                 <a [routerLink]="['/product/',product._id]" style="font-size: 14px;color:#418ec4" class="hitems text-center">
                 
                      {{product.name}}
                 </a>
                  <div *ngIf="product.saleprice.length === 1 ">
                              <p style="color:#dc3545" class="prices" >AED {{product.saleprice}}  <span *ngIf="product.regularprice" style="color:gray;font-size: 14px"> <del>AED {{product.regularprice}}</del></span></p>
                            </div>
                            
             <div *ngIf="product.saleprice.length > 1 ">
<p style="color:#dc3545" class="prices">{{product.minimumPrice}} - {{product.maximumPrice}}</p>
             </div>
             
             </div>
        </div>
    </div>
    <div class="row" *ngIf="router.url ==='/brand/Samsung' && samsung.length === 0">
        <div class="col-md-12">
            <h2 class="text-center" style="margin-top:100px;margin-bottom: 100px">There are no products available</h2>
        </div>
        
     </div>
 

    <div class="row" style="float:right" *ngIf="router.url ==='/brand/Xiaomi'">
        <div class="col-md-2 " *ngFor="let product of xiaomi">
            <div class="container-fluid">
                <button class="btn btn-sm btn-info rounded-0" style="float:left;">-{{product.discount}}%</button>
                <button class="btn btn-sm btn-danger rounded-0" *ngIf="product.salequantity === 0" style="float:right;">Out of Stock</button>
                <button class="btn btn-sm btn-success rounded-0" *ngIf="product.salequantity !== 0" style="float:right;">2 items in stcok</button>
                  
                
                    <div *ngFor="let cimage of product.cimage">
                        <img src="assets/productsimages/{{cimage.filename}}"  style="width:100%;">
                    </div>
                 
                 <a [routerLink]="['/product/',product._id]" style="font-size: 14px;color:#418ec4" class="hitems text-center">
                 
                      {{product.name}}
                 </a>
                  <div *ngIf="product.saleprice.length === 1 ">
                              <p style="color:#dc3545" class="prices" >AED {{product.saleprice}}  <span *ngIf="product.regularprice" style="color:gray;font-size: 14px"> <del>AED {{product.regularprice}}</del></span></p>
                            </div>
                            
             <div *ngIf="product.saleprice.length > 1 ">
<p style="color:#dc3545" class="prices">{{product.minimumPrice}} - {{product.maximumPrice}}</p>
             </div>
             
             </div>
        </div>
    </div>

    <div class="row" style="float:right" *ngIf="router.url ==='/brand/Xiaomi' && xiaomi.length === 0">
        <div class="col-md-12">
            <h2 class="text-center" style="margin-top:100px;margin-bottom:100px">There are no products available</h2>
        </div>
     </div>

    <div class="row" style="float:right" *ngIf="router.url ==='/brand/Huawei'">
        <div class="col-md-2 " *ngFor="let product of huawei">
            <div class="container-fluid">
                <button class="btn btn-sm btn-info rounded-0" style="float:left;">-{{product.discount}}%</button>
                <button class="btn btn-sm btn-danger rounded-0" *ngIf="product.salequantity === 0" style="float:right;">Out of Stock</button>
                <button class="btn btn-sm btn-success rounded-0" *ngIf="product.salequantity !== 0" style="float:right;">2 items in stcok</button>
                  
                
                    <div *ngFor="let cimage of product.cimage">
                        <img src="assets/productsimages/{{cimage.filename}}"  style="width:100%;">
                    </div>
                 
                 <a [routerLink]="['/product/',product._id]" style="font-size: 14px;color:#418ec4" class="hitems text-center">
                 
                      {{product.name}}
                 </a>
                  <div *ngIf="product.saleprice.length === 1 ">
                              <p style="color:#dc3545" class="prices" >AED {{product.saleprice}}  <span *ngIf="product.regularprice" style="color:gray;font-size: 14px"> <del>AED {{product.regularprice}}</del></span></p>
                            </div>
                            
             <div *ngIf="product.saleprice.length > 1 ">
<p style="color:#dc3545" class="prices">{{product.minimumPrice}} - {{product.maximumPrice}}</p>
             </div>
             
             </div>
        </div>
    </div>

    <div class="row" style="float:right" *ngIf="router.url ==='/brand/Huawei' && huawei.length === 0">
        <div class="col-md-12">
            <h2 class="text-center" style="margin-top:100px;margin-bottom:100px">There are no products available</h2>
        </div>
     </div>

    <div class="row" style="float:right" *ngIf="router.url ==='/brand/Asus'">
        <div class="col-md-2 " *ngFor="let product of asus">
            <div class="container-fluid">
                <button class="btn btn-sm btn-info rounded-0" style="float:left;">-{{product.discount}}%</button>
                <button class="btn btn-sm btn-danger rounded-0" *ngIf="product.salequantity === 0" style="float:right;">Out of Stock</button>
                <button class="btn btn-sm btn-success rounded-0" *ngIf="product.salequantity !== 0" style="float:right;">2 items in stcok</button>
                  
                
                    <div *ngFor="let cimage of product.cimage">
                        <img src="assets/productsimages/{{cimage.filename}}"  style="width:100%;">
                    </div>
                 
                 <a [routerLink]="['/product/',product._id]" style="font-size: 14px;color:#418ec4" class="hitems text-center">
                 
                      {{product.name}}
                 </a>
                  <div *ngIf="product.saleprice.length === 1 ">
                              <p style="color:#dc3545" class="prices" >AED {{product.saleprice}}  <span *ngIf="product.regularprice" style="color:gray;font-size: 14px"> <del>AED {{product.regularprice}}</del></span></p>
                            </div>
                            
             <div *ngIf="product.saleprice.length > 1 ">
<p style="color:#dc3545" class="prices">{{product.minimumPrice}} - {{product.maximumPrice}}</p>
             </div>
             
             </div>
        </div>
    </div>

    <div class="row" style="float:right" *ngIf="router.url ==='/brand/Asus' && asus.length === 0">
        <div class="col-md-12">
            <h2 class="text-center" style="margin-top:100px;margin-bottom:100px">There are no products available</h2>
        </div>
     </div>

    <div class="row" style="float:right" *ngIf="router.url ==='/brand/Oppo'">
        <div class="col-md-2 " *ngFor="let product of oppo">
            <div class="container-fluid">
                <button class="btn btn-sm btn-info rounded-0" style="float:left;">-{{product.discount}}%</button>
                <button class="btn btn-sm btn-danger rounded-0" *ngIf="product.salequantity === 0" style="float:right;">Out of Stock</button>
                <button class="btn btn-sm btn-success rounded-0" *ngIf="product.salequantity !== 0" style="float:right;">2 items in stcok</button>
                  
                
                    <div *ngFor="let cimage of product.cimage">
                        <img src="assets/productsimages/{{cimage.filename}}"  style="width:100%;">
                    </div>
                 
                 <a [routerLink]="['/product/',product._id]" style="font-size: 14px;color:#418ec4" class="hitems text-center">
                 
                      {{product.name}}
                 </a>
                  <div *ngIf="product.saleprice.length === 1 ">
                              <p style="color:#dc3545" class="prices" >AED {{product.saleprice}}  <span *ngIf="product.regularprice" style="color:gray;font-size: 14px"> <del>AED {{product.regularprice}}</del></span></p>
                            </div>
                            
             <div *ngIf="product.saleprice.length > 1 ">
<p style="color:#dc3545" class="prices">{{product.minimumPrice}} - {{product.maximumPrice}}</p>
             </div>
             
             </div>
        </div>
    </div>

    <div class="row" style="float:right" *ngIf="router.url ==='/brand/Oppo' && oppo.length === 0">
        <div class="col-md-12">
            <h2 class="text-center" style="margin-top:100px;margin-bottom:100px">There are no products available</h2>
        </div>
     </div>

    <div class="row" style="float:right" *ngIf="router.url ==='/brand/Real-me'">
        <div class="col-md-2 " *ngFor="let product of realme">
            <div class="container-fluid">
                <button class="btn btn-sm btn-info rounded-0" style="float:left;">-{{product.discount}}%</button>
                <button class="btn btn-sm btn-danger rounded-0" *ngIf="product.salequantity === 0" style="float:right;">Out of Stock</button>
                <button class="btn btn-sm btn-success rounded-0" *ngIf="product.salequantity !== 0" style="float:right;">2 items in stcok</button>
                  
                
                    <div *ngFor="let cimage of product.cimage">
                        <img src="assets/productsimages/{{cimage.filename}}"  style="width:100%;">
                    </div>
                 
                 <a [routerLink]="['/product/',product._id]" style="font-size: 14px;color:#418ec4" class="hitems text-center">
                 
                      {{product.name}}
                 </a>
                  <div *ngIf="product.saleprice.length === 1 ">
                              <p style="color:#dc3545" class="prices" >AED {{product.saleprice}}  <span *ngIf="product.regularprice" style="color:gray;font-size: 14px"> <del>AED {{product.regularprice}}</del></span></p>
                            </div>
                            
             <div *ngIf="product.saleprice.length > 1 ">
<p style="color:#dc3545" class="prices">{{product.minimumPrice}} - {{product.maximumPrice}}</p>
             </div>
             
             </div>
        </div>
    </div>

    <div class="row" style="float:right" *ngIf="router.url ==='/brand/Real-me' && realme.length === 0">
        <div class="col-md-12">
            <h2 class="text-center" style="margin-top:100px;margin-bottom:100px">There are no products available</h2>
        </div>
     </div>

    <div class="row" style="float:right" *ngIf="router.url ==='/brand/Nokia'">
        <div class="col-md-2 " *ngFor="let product of nokia">
            <div class="container-fluid">
                <button class="btn btn-sm btn-info rounded-0" style="float:left;">-{{product.discount}}%</button>
                <button class="btn btn-sm btn-danger rounded-0" *ngIf="product.salequantity === 0" style="float:right;">Out of Stock</button>
                <button class="btn btn-sm btn-success rounded-0" *ngIf="product.salequantity !== 0" style="float:right;">2 items in stcok</button>
                  
                
                    <div *ngFor="let cimage of product.cimage">
                        <img src="assets/productsimages/{{cimage.filename}}"  style="width:100%;">
                    </div>
                 
                 <a [routerLink]="['/product/',product._id]" style="font-size: 14px;color:#418ec4" class="hitems text-center">
                 
                      {{product.name}}
                 </a>
                  <div *ngIf="product.saleprice.length === 1 ">
                              <p style="color:#dc3545" class="prices" >AED {{product.saleprice}}  <span *ngIf="product.regularprice" style="color:gray;font-size: 14px"> <del>AED {{product.regularprice}}</del></span></p>
                            </div>
                            
             <div *ngIf="product.saleprice.length > 1 ">
<p style="color:#dc3545" class="prices">{{product.minimumPrice}} - {{product.maximumPrice}}</p>
             </div>
             
             </div>
        </div>
    </div>
    <div class="row" style="float:right" *ngIf="router.url ==='/brand/Nokia' && nokia.length === 0">
        <div class="col-md-12">
            <h2 class="text-center" style="margin-top:100px;margin-bottom:100px">There are no products available</h2>
        </div>
     </div>

     <div class="row" style="float:right" *ngIf="router.url ==='/brand/Nubia'">
        <div class="col-md-2 " *ngFor="let product of nubia">
            <div class="container-fluid">
                <button class="btn btn-sm btn-info rounded-0" style="float:left;">-{{product.discount}}%</button>
                <button class="btn btn-sm btn-danger rounded-0" *ngIf="product.salequantity === 0" style="float:right;">Out of Stock</button>
                <button class="btn btn-sm btn-success rounded-0" *ngIf="product.salequantity !== 0" style="float:right;">2 items in stcok</button>
                  
                
                    <div *ngFor="let cimage of product.cimage">
                        <img src="assets/productsimages/{{cimage.filename}}"  style="width:100%;">
                    </div>
                 
                 <a [routerLink]="['/product/',product._id]" style="font-size: 14px;color:#418ec4" class="hitems text-center">
                 
                      {{product.name}}
                 </a>
                  <div *ngIf="product.saleprice.length === 1 ">
                              <p style="color:#dc3545" class="prices" >AED {{product.saleprice}}  <span *ngIf="product.regularprice" style="color:gray;font-size: 14px"> <del>AED {{product.regularprice}}</del></span></p>
                            </div>
                            
             <div *ngIf="product.saleprice.length > 1 ">
<p style="color:#dc3545" class="prices">{{product.minimumPrice}} - {{product.maximumPrice}}</p>
             </div>
             
             </div>
        </div>
    </div>

    <div class="row" style="float:right" *ngIf="router.url ==='/brand/nubia' && nubia.length === 0 ">
        <div class="col-md-12">
            <h2 class="text-center" style="margin-top:100px;margin-bottom:100px">There are no products available</h2>
        </div>
     </div>
    <div class="row" style="float:right" *ngIf="router.url ==='/brand/Honor' && honor.length === 0">
        <div class="col-md-12">
            <h2 class="text-center" style="margin-top:100px;margin-bottom:100px">There are no products available</h2>
        </div>
     </div>

     <div class="row" style="float:right" *ngIf="router.url ==='/brand/honor'">
        <div class="col-md-2 " *ngFor="let product of honor">
            <div class="container-fluid">
                <button class="btn btn-sm btn-info rounded-0" style="float:left;">-{{product.discount}}%</button>
                <button class="btn btn-sm btn-danger rounded-0" *ngIf="product.salequantity === 0" style="float:right;">Out of Stock</button>
                <button class="btn btn-sm btn-success rounded-0" *ngIf="product.salequantity !== 0" style="float:right;">2 items in stcok</button>
                  
                
                    <div *ngFor="let cimage of product.cimage">
                        <img src="assets/productsimages/{{cimage.filename}}"  style="width:100%;">
                    </div>
                 
                 <a [routerLink]="['/product/',product._id]" style="font-size: 14px;color:#418ec4" class="hitems text-center">
                 
                      {{product.name}}
                 </a>
                  <div *ngIf="product.saleprice.length === 1 ">
                              <p style="color:#dc3545" class="prices" >AED {{product.saleprice}}  <span *ngIf="product.regularprice" style="color:gray;font-size: 14px"> <del>AED {{product.regularprice}}</del></span></p>
                            </div>
                            
             <div *ngIf="product.saleprice.length > 1 ">
<p style="color:#dc3545" class="prices">{{product.minimumPrice}} - {{product.maximumPrice}}</p>
             </div>
             
             </div>
        </div>
    </div>
    <div class="row" style="float:right" *ngIf="router.url ==='/brand/Black-Shark' && blackshark.length === 0 ">
        <div class="col-md-12">
            <h2 class="text-center" style="margin-top:100px;margin-bottom:100px">There are no products available</h2>
        </div>
     </div>

     <div class="row" style="float:right" *ngIf="router.url ==='/brand/Black-Shark'">
        <div class="col-md-2 " *ngFor="let product of blackshark">
            <div class="container-fluid">
                <button class="btn btn-sm btn-info rounded-0" style="float:left;">-{{product.discount}}%</button>
                <button class="btn btn-sm btn-danger rounded-0" *ngIf="product.salequantity === 0" style="float:right;">Out of Stock</button>
                <button class="btn btn-sm btn-success rounded-0" *ngIf="product.salequantity !== 0" style="float:right;">2 items in stcok</button>
                  
                
                    <div *ngFor="let cimage of product.cimage">
                        <img src="assets/productsimages/{{cimage.filename}}"  style="width:100%;">
                    </div>
                 
                 <a [routerLink]="['/product/',product._id]" style="font-size: 14px;color:#418ec4" class="hitems text-center">
                 
                      {{product.name}}
                 </a>
                  <div *ngIf="product.saleprice.length === 1 ">
                              <p style="color:#dc3545" class="prices" >AED {{product.saleprice}}  <span *ngIf="product.regularprice" style="color:gray;font-size: 14px"> <del>AED {{product.regularprice}}</del></span></p>
                            </div>
                            
             <div *ngIf="product.saleprice.length > 1 ">
<p style="color:#dc3545" class="prices">{{product.minimumPrice}} - {{product.maximumPrice}}</p>
             </div>
             
             </div>
        </div>
    </div>

    <div class="row" style="float:right" *ngIf="router.url ==='/brand/One-Plus'">
        <div class="col-md-2 " *ngFor="let product of oneplus">
            <div class="container-fluid">
                <button class="btn btn-sm btn-info rounded-0" style="float:left;">-{{product.discount}}%</button>
                <button class="btn btn-sm btn-danger rounded-0" *ngIf="product.salequantity === 0" style="float:right;">Out of Stock</button>
                <button class="btn btn-sm btn-success rounded-0" *ngIf="product.salequantity !== 0" style="float:right;">2 items in stcok</button>
                  
                
                    <div *ngFor="let cimage of product.cimage">
                        <img src="assets/productsimages/{{cimage.filename}}"  style="width:100%;">
                    </div>
                 
                 <a [routerLink]="['/product/',product._id]" style="font-size: 14px;color:#418ec4" class="hitems text-center">
                 
                      {{product.name}}
                 </a>
                  <div *ngIf="product.saleprice.length === 1 ">
                              <p style="color:#dc3545" class="prices" >AED {{product.saleprice}}  <span *ngIf="product.regularprice" style="color:gray;font-size: 14px"> <del>AED {{product.regularprice}}</del></span></p>
                            </div>
                            
             <div *ngIf="product.saleprice.length > 1 ">
<p style="color:#dc3545" class="prices">{{product.minimumPrice}} - {{product.maximumPrice}}</p>
             </div>
             
             </div>
        </div>
    </div>


    <div class="row" style="float:right" *ngIf="router.url ==='/brand/One-Plus' && oneplus.length === 0">
        <div class="col-md-12">
            <h2 class="text-center" style="margin-top:100px;margin-bottom:100px">There are no products available</h2>
        </div>
     </div>

     <div class="row" style="float:right" *ngIf="router.url ==='/brand/Amazfit'">
        <div class="col-md-2 " *ngFor="let product of amazfit">
            <div class="container-fluid">
                <button class="btn btn-sm btn-info rounded-0" style="float:left;">-{{product.discount}}%</button>
                <button class="btn btn-sm btn-danger rounded-0" *ngIf="product.salequantity === 0" style="float:right;">Out of Stock</button>
                <button class="btn btn-sm btn-success rounded-0" *ngIf="product.salequantity !== 0" style="float:right;">2 items in stcok</button>
                  
                
                    <div *ngFor="let cimage of product.cimage">
                        <img src="assets/productsimages/{{cimage.filename}}"  style="width:100%;">
                    </div>
                 
                 <a [routerLink]="['/product/',product._id]" style="font-size: 14px;color:#418ec4" class="hitems text-center">
                 
                      {{product.name}}
                 </a>
                  <div *ngIf="product.saleprice.length === 1 ">
                              <p style="color:#dc3545" class="prices" >AED {{product.saleprice}}  <span *ngIf="product.regularprice" style="color:gray;font-size: 14px"> <del>AED {{product.regularprice}}</del></span></p>
                            </div>
                            
             <div *ngIf="product.saleprice.length > 1 ">
<p style="color:#dc3545" class="prices">{{product.minimumPrice}} - {{product.maximumPrice}}</p>
             </div>
             
             </div>
        </div>
    </div>
    <div class="row" style="float:right" *ngIf="router.url ==='/brand/Amazfit' && amazfit.length === 0">
        <div class="col-md-12">
            <h2 class="text-center" style="margin-top:100px;margin-bottom:100px">There are no products available</h2>
        </div>
     </div>

   
</div>
<app-footer></app-footer>