<div class="container-fluid">
    <div class="d-flex justify-content-center">
        <img src="assets/IMAGES/Amazfit GTS Black.jpg" style="width:50px;height:50px;border-radius:50%" class="mt-4 bg-white" alt="">
      </div>
      
    <p  style="color:white;font-size: 14px" class="text-center">NOORDEAL</p>
    <p style="color:white;font-size: 12px; margin-top:-15px" class="text-center">nooraljoharamt@gmail.com</p>
    <div style="margin-left:100px">
      <a routerLink="/admin" style="color:lightgray;font-size: 14px" class="align-center pb-4"><i style="color:lightgray;font-size: 14px" class="fa fa-dashboard" aria-hidden="true"></i> Dashboard</a><br>
      <a  style="color:lightgray;font-size: 14px" class="align-center mb-4"><i style="color:lightgray;font-size: 14px" class="fa fa-archive" aria-hidden="true"></i> All Products</a><br>
      <a routerLink="/uploads" style="color:lightgray;font-size: 14px" class="align-center mb-4"><i style="color:lightgray;font-size: 14px" class="fa fa-plus" aria-hidden="true"></i>  Add Products</a> <br>
      <a  style="color:lightgray;font-size: 14px" class="align-center mb-4"><i style="color:lightgray;font-size: 14px" class="fa fa-edit" aria-hidden="true"></i> Edit Products</a> <br>
      <a  style="color:lightgray;font-size: 14px" class="align-center mb-4"><i style="color:lightgray;font-size: 14px" class="fa fa-users" aria-hidden="true"></i> Product Listers</a><br>
      <a  style="color:lightgray;font-size: 14px" class="align-center mb-4"><i style="color:lightgray;font-size: 14px" class="fa fa-user-plus" aria-hidden="true"></i> Add Product Lister</a><br>
      <a  style="color:lightgray;font-size: 14px" class="align-center mb-4"><i style="color:lightgray;font-size: 14px" class="fa fa-edit" aria-hidden="true"></i> Edit Product Lister</a><br>
      <a  style="color:lightgray;font-size: 14px" class="align-center mb-4"><i style="color:lightgray;font-size: 14px" class="fa fa-shopping-cart" aria-hidden="true"></i> Orders</a><br>
      <a  style="color:lightgray;font-size: 14px" class="align-center mb-4"><i style="color:lightgray;font-size: 14px" class="fa fa-users" aria-hidden="true"></i> Users</a><br>
        </div>
        <button data-toggle="modal" data-target="#category" class="btn btn-sm form-control mb-2 mt-4 rounded-0" style="background-color:#cc5500;color:white"><i style="color:white;" class="fa fa-plus" aria-hidden="true"></i> ADD CATEGORY</button>
        <button data-toggle="modal" data-target="#subcat1" class="btn btn-sm form-control mb-2 rounded-0" style="background-color:#cc5500;color:white"><i style="color:white;" class="fa fa-plus" aria-hidden="true"></i> ADD SUBCATEGORY I</button>
        <button data-toggle="modal" data-target="#subcat2" class="btn btn-sm form-control mb-2 rounded-0" style="background-color:#cc5500;color:white"><i style="color:white;" class="fa fa-plus" aria-hidden="true"></i> ADD SUBCATEGORY II</button>
        <button data-toggle="modal" data-target="#brand" class="btn btn-sm form-control mb-2 rounded-0" style="background-color:#cc5500;color:white"><i style="color:white;" class="fa fa-plus" aria-hidden="true"></i> ADD BRAND</button>
        <button data-toggle="modal" data-target="#color" class="btn btn-sm form-control mb-2 rounded-0" style="background-color:#cc5500;color:white"><i style="color:white;" class="fa fa-plus" aria-hidden="true"></i> ADD COLOR</button>
    
    
  
  <!-- Modal -->
  <div class="modal rounded-0 fade" id="category" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
            
          <h5 class="modal-title ml-2" id="exampleModalLongTitle">ADD NEW CATEGORY</h5>
          
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              
            <span aria-hidden="true">&times;</span>
          </button>
          
        </div>
        <div class="modal-body">
          <flash-messages *ngIf="categoryRR === true"></flash-messages>
            <div *ngIf="categoryRR === true" class="alert alert-success alert-dismissible fade show" role="alert">
              Success! Category has been added
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div *ngIf="categoryRR === false || categoryRR === null " class="alert alert-danger" role="alert">
              An error occured while creating category!
            </div>
          <div class="form-group">
            <input type="text" [(ngModel)]="category" style="border: 1px solid #cc5500" class="form-control rounded-0">
          </div>
        </div>
        <div class="modal-footer">

          <button type="button" (click)="addcategory();showFlash()"class="btn btn-md rounded-0" style="background-color:#cc5500;color:white">CREATE</button>
        </div>
      </div>
    </div>
  </div>
</div>
  
  <!-- Modal -->
  <div class="modal rounded-0 fade" id="subcat1" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">ADD NEW SUBCATEGORY I</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <div *ngIf="scIf === true" class="alert alert-success" role="alert">
              Success! Subategory has been added
            </div>
          <div class="form-group">
            <input type="text" [(ngModel)]="subcategory1" style="border: 1px solid #cc5500" class="form-control rounded-0">
          </div>
        </div>
        <div class="modal-footer">

          <button type="button" (click)="addsubcategory1();showFlashs1()" class="btn btn-md rounded-0" style="background-color:#cc5500;color:white">CREATE</button>
        </div>
      </div>
    </div>
  </div>

  
  <!-- Modal -->
  <div class="modal rounded-0 fade" id="subcat2" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">ADD NEW SUBCATEGORY II</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div *ngIf="scIIf === true" class="alert alert-success" role="alert">
            Success! Subcategory has been added
          </div>
          <div class="form-group">
            <input type="text" [(ngModel)]="subcategory2" style="border: 1px solid #cc5500" class="form-control rounded-0">
          </div>
        </div>
        <div class="modal-footer">

          <button type="button" (click)="addsubcategory2();showFlashs2()" class="btn btn-md rounded-0" style="background-color:#cc5500;color:white">CREATE</button>
        </div>
      </div>
    </div>
  </div>

  
  <!-- Modal -->
  <div class="modal rounded-0 fade" id="brand" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">ADD NEW BRAND</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div *ngIf="bf === true" class="alert alert-success" role="alert">
            Success! Brand has been added
          </div>
          <div class="form-group">
            <input type="text" [(ngModel)]="brand" style="border: 1px solid #cc5500" class="form-control rounded-0">
          </div>
        </div>
        <div class="modal-footer">

          <button type="button" (click)="addbrand();showFlashb()" class="btn btn-md rounded-0" style="background-color:#cc5500;color:white">CREATE</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal rounded-0 fade" id="color" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">ADD NEW COLOR</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div *ngIf="cf === true" class="alert alert-success" role="alert">
              Success! Color has been added
            </div>
            <div class="form-group">
              <input type="text" [(ngModel)]="color" style="border: 1px solid #cc5500" class="form-control rounded-0">
            </div>
          </div>
          <div class="modal-footer">
  
            <button type="button" (click)="addcolor();showFlashc()" class="btn btn-md rounded-0" style="background-color:#cc5500;color:white">CREATE</button>
          </div>
        </div>
      </div>
    </div>