<app-navbar></app-navbar>
<div class="container">
    <h2 class="text-center mb-4 mt-4">About Us</h2>
    <div class="row">
        <div class="col-md-4">
<h4>What we really do</h4>
<p>
        We do resell the Smartphones & electronic Top Brands items with best quality and lowest price in the market With Warranty. And Newly launch Product You can Find First In Our Website
</p>
<h4>History of the company</h4>
<p>Noordeal affiliate of Noor Al Johara Mobiles Trading LLC A Limited Liability Company Established in April 2019. Now Noordeal is having online presence with both website and application.</p>
<p><b>Our details</b></p>
<p> <b>(Noordeal.com)</b> is owned and operated by <b>Noor Al Johara Mobiles Trading LLC</b>  </p>
<p>
<b>Registration number:</b> 1408055
</p>
<p><b>Registered in:</b> United Arab Emirates Dubai</p>
<p><b>Physical address:</b> at Office#201, Saeed Juma Khalifa Al Mehairi Building</p>
<p>19-14A Street, Al-Murar, Dubai, United Arab Emirates.</p>
<p>Our principal place of business is United Arab Emirates.</p>       
</div>
        <div class="col-md-4">
<h4>Our Vision</h4>
<p>
        Our vision is to provide quality service to build long term relationship with our customers. Give Them A Great Experience Of Online Shopping Of Course With Best Price

</p>
<h4>Cooperate with us</h4>
<p>
        Join hands with us. We are looking to add more and more products in our website. If you have products that you want to sell, then let us know. We will add in our website and make you earn good amount of profit.
  
</p>
        </div>
        <div class="col-md-4">
<h5>Direct Support 10AM-9PM</h5>
<P>
    

We are available 10AM-9PM for you.

Or Just Send Us Message On Whatsapp +971552277970

We Will Reply You Soon ASAP

</P>
<h5>Best Services</h5>
<p>We Only Deal With Genuine Product With Warranty Sealed And New Product</p>
<h5>Fastest Delivery</h5>
<p>Faster Delivery</p>
<ul>
    <li>Local Courier services would be used to dispatch the items. The tracking number would be sent via SMS or Email.</li>
    <li>We Will Process the Order for Shipment after You’ve Placed Order Successfully</li>
    <li>After your order has been dispatched from our warehouse The Product Will Be delivered within 2 Business Day Somehow There Will Be Delay If There Is Any Weather Condition or Holidays.</li>
</ul>


<h5>Customer care</h5>
<p>
    

We Are Always There For You And Your Service

For Any Info Please MAil Us At info@noordeal.com

Or Contact/Whatsapp Us At +971552277970

We Are Available 10AM – 9PM

</p>
<h5>Over 200 Satisfied Customers</h5>
<p>
        After Serving In Local Market We Now Expanding Our Services To All Of The Emirates Through Online To Gives Our Customer A Great Experiences And Quality Service
</p>
        </div>
    </div>
</div>
<app-footer></app-footer>

 

 

 



