.delete:hover{
color:#cc5500 !important;
}

@media(max-width:576px){
.small{
    display:block !important;
}
.big{
    display:none !important;
}
}
@media(min-width:576px){
    .small{
        display:none;
    }
    .big{
        display:block;
    }
}