<app-navbar></app-navbar>
<div class="container-fluid">
    <h2 class="text-center mt-4 mb-4">Return/Refund and cancellation Policy</h2>
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <ol>
                <li>
                    <h5>Cancellation and Refund policy</h5>
                    <ul>
                        <li>To be eligible for a return, the concerned item must be unused and in the same condition that you received it. It must also be in the original packaging.</li>
                        <li>Customer shall contact customer service number or email at info@noordeal.com (mentioned on web store) citing the Order ID, date and issue in the product.</li>
                        <li>Customer can cancel an order within 24 hours by  contact customer service number or email at info@noordeal.com (mentioned on web store) free of charge.</li>
                        <li>In case customer cancel the order after the product dispatch from our store later then 24 hours may shipping charge will apply from actual amount (Terms & Condition Apply)</li>
                        <li>Customers can return/exchange the items under the following conditions within 14 days from the date of delivery:</li>
                        <li>In case wrong product / wrong model / wrong size or wrong color of the item delivered; or Item not working / malfunctioning, damaged.</li>
                        <li> Refunds will be made to the original mode of payment, and will be processed within 7 to 15 days depends on the issuing bank of the payment source. We also entertain Cash on Delivery returns</li>
   
                    </ul>
                </li>
                <li>
                    <h5>No Return & exchange will be provided for the following</h5>
                    <ul>
                        <li> Consumables like DVDs, CDs, Cartridges, PC Software, Video Games, and all Accessories, Offer deal or other Promotion items & Clearance sale items, product is incomplete, damaged or scratched, Tampered & partially used items, Cut cable / wire are non – refundable
                            </li>
                        <li>Exemptions for exchange or refund is subjected for those products, which are found defective within 7 days.
                            </li>
                    </ul>
                  </li>
                <li>
                    <h5> Terms and Conditions for Return</h5>
                    <ul>
                        <li>Product must be returned to the courier, or supplier</li>
                        <li>Product should be accompanied with original sales invoice or order number as it is proof of purchase.</li>
                        <li>Product must be returned unused with original packaging (undamaged and in saleable condition), accessories, manual, and registration card.</li>
                        <li>Service, delivery charges are Refundable/Non-Refundable (Terms & Condition Apply)</li>
                        <li>If the product returned or given for repair has any data or information, Noordeal will not be responsible to transfer to any other device or loss of data/information which was at the time of return/repair.</li>
                        <li>Return voucher will be issued only if the product is found defective within 7 days for Smartphones Accessories, electronics, electrical, home appliances items from the date of Delivery and replacement may be given at the discretion of Noordeal.</li>
                        <li>The amount will be credited in the same account only within maximum 15 working days.
                            </li>
                        <li>No refund will be given for any payment made by way of gift voucher or exchange voucher.</li>
                    </ul>

                </li>
                <li>
                    <h5>Warranty Terms and Conditions</h5>
                    <ul>
                        <li>Manufacturer’s warranty wherever applicable as per items, commences from the date of purchase mentioned on the sales invoice.
                            </li>
                        <li>Extended warranty will be covered with same terms and condition of the original manufacturer warranty for an additional 1 or 2 years depending on the plan purchased.
                            </li>
                        <li>Items missing an identification number or code (such as UPC code or IMEI number) are not covered under warranty.
                            </li>
                        <li>
                                Warranty becomes invalid if the product(s) has been opened, registered or tampered by an unauthorized person or other service center.
  
                        </li>
                        <li>
                                Please keep The original Box And Order ID/Receipt to claim warranty.

                        </li>
                        <li>Warranty is applicable within the limits of U.A.E only, unless specified otherwise
                            </li>
                        <li>Any products require a minimum 15 working days to be repaired.
                            </li>
                        <li>Repaired items must to be collected within 30 days of delivery date, any claim after 30 days will not be entertained and Noordeal has full authority to dispose these items.
                            </li>
                        <li>Normal wear & tear of the products shall not cover the warranty/guarantee.
                            </li>
                    </ul>
                </li>
                <li>
                    <h5>Returns to be processed when:</h5>
                    <ul>
                        <li>Wrong product was sent</li>
                        <li>Product was defective.</li>
                        <li>Product was damaged in shipping.</li>
                        <li>The product was tampered with
                            </li>
                        <li>The Product Was Not Described As Website</li>
                        <li>If You Don’t Like the Product (Terms and Condition Apply)</li>
                    </ul>
                </li>
            </ol>
        </div>
        <div class="col-md-3"></div>
    </div>

</div>
<app-footer></app-footer>
