<app-navbar></app-navbar>

<div class="container-fluid">
    <div class="row mt-4">
        <div class="col-md-5">
<div class="row">
    <div class="col-4">
<img src="assets/IMAGES/lenovo1.png" class="mb-2" style="height:100px; width:100px" alt=""> <br>
<img src="assets/IMAGES/lenovo2.png" class="mb-2" style="height:100px; width:100px"  alt=""> <br>
<img src="assets/IMAGES/lenovo3.png" class="mb-2" style="height:100px; width:100px"  alt=""><br>
<img src="assets/IMAGES/lenovo4.png" class="mb-2" style="height:100px; width:100px"  alt="">
    </div>
    <div class="col-8">
        <img src="assets/IMAGES/lenovo1.png" style="width:100%" alt="">
    </div>
</div>
        </div>
        <div class="col-md-5">
<h3>Lenovo Tab M10 (HD) 32 GB 10.1 inch with Wi-Fi+4G Tablet (Slate Black)</h3>
<a href="" style="color:gray;font-size:14px">Brand: <span style="color:blue">Lenovo </span> </a>
<hr>
<h3 style="color:#cc5500"><b>AED 699</b></h3>
<p style="font-size:14px">Status: <span style="color:lightgreen">Only 2 left in the stock</span> </p>
<ul class="pl-3">
    <li>2 GB RAM | 32 GB ROM | Expandable Upto 256 GB</li>
    <li>25.65 cm (10.1 inch) HD Display</li>
    <li>5 MP Primary Camera | 2 MP Front</li>
    <li>Android 9.0 (Pie) | Battery: 4850 mAh Lithium Polymer</li>
    <li>Voice Call (Single Sim, LTE)</li>
    <li>Processor: Qualcomm Snapdragon 429 (Quad Core)</li>
</ul>
<hr>
<div class="row">
    <div class="col-md-3 mt-1">
            <input type="number" class="form-control" name="quantity" #quantit  [value]="1"  id="quantity">
<input type="number" class="mb-2 form-control  rounded-0"[(ngModel)]="quantity" name="quantity" id="quantity">
    </div>
    <div class="col-md-6 d-flex justify-content-center">
<button class="btn btn-lg rounded-0" (click)="addToCart()" style="background-color:#cc5500;color:white">ADD TO CART</button>
    </div>
    <div class="col-md-3" >
            <a href="" style="font-size:30px;color: #cc5500" class="mr-2"><i class="fa fa-heart" aria-hidden="true"></i></a>
<a href="" style="font-size:30px;color: #cc5500" class="mr-2"><i class="fa fa-bar-chart" aria-hidden="true"></i></a>
    </div>
</div>
<hr>
<p style="font-size:14px">Categories: <a href="">Lenovo</a>, <a href="">Smart Phones</a>,<a href="">Tablets</a></p>
<div class="sharethis-inline-share-buttons"></div>
        </div>
        <div class="col-md-2">
            
        </div>
    </div>

   <div class="row mt-4">
<div class="col-lg-9">
    <section id="tabs">
              <nav>
                <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
                  <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Description</a>
                  <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Specifications</a>
                   </div>
              </nav>
              <div class="tab-content py-3 px-3 px-sm-0" id="nav-tabContent">
                <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                    <p style="font-size:14px">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus in cum rem eum autem impedit saepe pariatur exercitationem, velit dolor! Aliquid delectus ab voluptas eveniet illo aspernatur ducimus assumenda labore.
                    </p>
                  </div>
                <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                        <p style="font-size:14px">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus in cum rem eum autem impedit saepe pariatur exercitationem, velit dolor! Aliquid delectus ab voluptas eveniet illo aspernatur ducimus assumenda labore.
                                </p> </div>
               
              </div>
            
        
      </section>
</div>
<div class="col-lg-3">

</div>
   </div>

    <h5 class="mt-4"><b>See it styled on instagram</b></h5>
    <hr class="mb-4">
    <p style="font-size:14px;color:gray" class="mb-4">Instagram did not return any images</p>


    <h5 class="mt-4"><b>Related products</b></h5>

    <hr>
<div class="row">
    <div class="col-md-3">
<img src="assets/IMAGES/rs4.png" style="width:100%" alt="">
<a href="" class="text-center">Samsung galaxy s19</a>
    </div>
    <div class="col-md-3">
            <img src="assets/IMAGES/rs1.png" style="width:100%" alt="">
            <a href="" class="text-center">Samsung galaxy s19</a>
    </div>
    <div class="col-md-3">
            <img src="assets/IMAGES/rs2.png" style="width:100%" alt="">
            <a href="" class="text-center">Samsung galaxy s19</a>
    </div>
    <div class="col-md-3">
            <img src="assets/IMAGES/rs3.png" style="width:100%" alt="">
            <a href="" class="text-center">Samsung galaxy s19</a>
    </div>
</div>
</div>



  
  
    <!-- ./Tabs -->

<app-footer></app-footer>

   
