<app-navbar></app-navbar>

<div class="container-fluid">
    <div class="row mt-4">
        <div class="col-md-4">
<div class="row">
    <div class="col-4" >
        <div *ngFor="let images of product.images">
                <img src="{{images}}" class="mb-2" style="height:100px; width:100px" alt=""> <br>
        </div>

    </div>
    <div class="col-8">
        <img src="{{product.image}}" style="width:100%" alt="">
    </div>
</div>
        </div>
        <div class="col-md-5">
<h3>{{product.name}}</h3>
<a href="" style="color:gray;font-size:14px">Brand: <span style="color:blue">{{product.Brand}} </span> </a>
<hr>
<h3 style="color:#cc5500"><b>AED {{product.price}}</b></h3>
<p style="font-size:14px">Status: <span style="color:lightgreen">Only 2 left in the stock</span> </p>
<ul class="pl-3" *ngFor="let list of product.productDetails">
    <li>{{list}}</li>
</ul>
<hr>
<div class="row">
    <div class="col-md-3 mt-1">
            
<input type="number" class="mb-2 form-control  rounded-0" [(ngModel)]="quantity" name="quantity" id="quantity">
    </div>
    <div class="col-md-6 d-flex justify-content-center">
<button class="btn btn-lg rounded-0" (click)="addtocart(product)" style="background-color:#cc5500;color:white">ADD TO CART</button>
    </div>
    <div class="col-md-3" >
        <h2 style="color:midnightblue; display:inline-block" class="d-flex">Buy Now</h2>
            <a href="" style="font-size:30px;color: #cc5500" class="mr-2"><i class="fa fa-heart" aria-hidden="true"></i></a>
<a href="" style="font-size:30px;color: #cc5500" class="mr-2"><i class="fa fa-bar-chart" aria-hidden="true"></i></a>
    </div>
</div>
<hr>
<p style="font-size:14px">Categories: <a href="">{{product.Brand}}</a>, <a href="">{{product.subcategory}}</a>,<a href="">{{product.category}}</a></p>
<div class="sharethis-inline-share-buttons"></div>
        </div>
        <div class="col-md-3">
            <div class="card" style="width:300px">
                <div class="ml-2 form-group">
                        Qty: <input type="number" style="width:100px" class="pt-4 form-control" value="1">
                </div>
           

           <h1 class="mt-4 pl-2" style="color:midnightblue">UPC Code</h1>

                <a href="" style="font-size:16px" class="pl-2"><i style="color:gray" class="fa fa-lock pr-2" aria-hidden="true"></i>     Secure Transaction</a>
                <p class="pl-2"><b>Add a protection plan</b></p>
                <div class="ml-2 form-check">
                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                    <label class="form-check-label" for="exampleCheck1">1 year extended warranty for AED 150.00</label>
                  </div>
                  <div class="ml-2 form-check">
                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                        <label class="form-check-label" for="exampleCheck1">1 year accidental damage protection on mobile (AED2,500-AED3,000) for AED 150.00</label>
                      </div>
                      <div class="ml-2 form-check">
                            <input type="checkbox" class="form-check-input" id="exampleCheck1">
                            <label class="form-check-label" for="exampleCheck1">1 year accidental damage protection on mobile (AED2,500-AED3,000) for AED 150.00 + 1 year extended warranty</label>
                          </div>
            </div>
        </div>
    </div>

   <div class="row mt-4">
<div class="col-lg-9">
    <section id="tabs">
              <nav>
                <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
                  <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Description</a>
                  <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Specifications</a>
                   </div>
              </nav>
              <div class="tab-content py-3 px-3 px-sm-0" id="nav-tabContent">
                <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                    <p style="font-size:14px">
                    {{product.productDescription}}</p>
                  </div>
                <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                        <p style="font-size:14px">
                            {{product.productSpec}}</p> </div>
               
              </div>
            
        
      </section>
</div>
<div class="col-lg-3">

</div>
   </div>

    <h5 class="mt-4"><b>See it styled on instagram</b></h5>
    <hr class="mb-4">
    <p style="font-size:14px;color:gray" class="mb-4">Instagram did not return any images</p>


    <h5 class="mt-4"><b>Related products</b></h5>

    <hr>
<div class="row">
    <div class="col-md-3">
<img src="assets/IMAGES/rs4.png" style="width:100%" alt="">
<a href="" class="text-center">Samsung galaxy s19</a>
    </div>
    <div class="col-md-3">
            <img src="assets/IMAGES/rs1.png" style="width:100%" alt="">
            <a href="" class="text-center">Samsung galaxy s19</a>
    </div>
    <div class="col-md-3">
            <img src="assets/IMAGES/rs2.png" style="width:100%" alt="">
            <a href="" class="text-center">Samsung galaxy s19</a>
    </div>
    <div class="col-md-3">
            <img src="assets/IMAGES/rs3.png" style="width:100%" alt="">
            <a href="" class="text-center">Samsung galaxy s19</a>
    </div>
</div>
</div>

  
  
    <!-- ./Tabs -->

<app-footer></app-footer>

   
