<div class="footer mt-4" >
    <div class="container-fluid">
            <div class="row">
                    <div class="col-md-2">
                        <h6 class="mt-4">INFORMATION</h6>
                        <a routerLink="">FAQ</a> <br>
                        <a routerLink="">Terms & Condition</a> <br>
                        <a routerLink=""> Priivacy Policy</a> <br>
                        <a routerLink="">Return/Refund & Cancellation Policy</a> <br>
                        <a routerLink=""> Delivery & Payment policy</a>
            
                        
                    </div>
                    <div class="col-md-2">
                        <h6 class="mt-4">ABOUT US</h6>
                        <a routerLink="">About Us</a> <br>
                        <a routerLink="">Contact Us</a> <br>
                        <a routerLink=""> Store Directory</a> <br>
                        <a routerLink=""> About Covid-19</a> <br>
                        <a routerLink="">Blog</a>
                        
                        </div>
                    <div class="col-md-2">
                        <h6 class="mt-4">MY ACCOUNT</h6>
                        <a routerLink="">Login</a> <br>
                        <a routerLink="">Register</a> <br>
                        <a routerLink="">Wishlist</a> <br>
                        <a routerLink="">Track your Order</a> <br>
                
                    </div>
                    <div class="col-md-2">
                            <h6 class="mt-4">CONTACT US</h6>
                            <i style="color:lightgray;font-size: 14px" class="fa fa-phone" aria-hidden="true"></i> <span style="color:lightgray;font-size: 14px"> +971552277970</span>
                            <br>
                                    <i style="color:lightgray;font-size: 14px" class="fa fa-whatsapp" aria-hidden="true"></i><span style="color:lightgray;font-size: 14px"> +971552277970</span>
                            <br>
                                    <i style="color:lightgray; font-size: 14px" class="fa fa-envelope" aria-hidden="true"></i><span style="color:lightgray;font-size: 14px"> info@noordeal.com</span>
                    </div>
                    <div class="col-md-4">
                        <h6 class="mt-4"></h6>
            <div class="row ">
                <div class="col-6 pr-2" style="border-right:1px solid lightgray">
                    <div class="row">
                        <div class="col-3">
                            <h1 ><a routerLink="/cart" id="submit" style="color:blue !important"><i class="fa fa-comments" aria-hidden="true"></i></a></h1>
            
                        </div>
                        <div class="col-9">
                            <small><b><a routerLink="">Submit</a></b></small><br>
                            <small><a routerLink="">Your Feeback</a></small>
                                 
                        </div>
                    </div>
                  

                </div>
                <div class="col-6 pr-2">
                        <div class="row">
                                <div class="col-3">
                                    <h1 ><a routerLink="" id="call" style="color:#cc5500 !important"><i class="fa fa-phone" aria-hidden="true"></i></a></h1>
                    
                                </div>
                                <div class="col-9">
                                    <small><b><a routerLink="">Give a call</a></b></small><br>
                                    <small><a routerLink="">+971552277970</a></small>
                                         
                                </div>
                            </div>
                </div>
                
            </div>
            <hr class="mt-4" style="background-color:lightgray">
            <div class="row text-center">
                <div class="col-lg-6 mb-2">
                      <a class="mr-2 head">Download Our App </a>  
                      <a routerLink="" class="mr-2"> <i class="fa fa-apple"></i></a>
                      <a routerLink=""class=""><i class="fa fa-android"></i></a>
                </div>
                <div class="col-lg-6">
                        <a class="mr-2 head">Get in Touch </a>    
                        <a routerLink="" class="mr-2"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                        <a routerLink="" class="mr-2"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                        <a routerLink="" class="mr-2"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                        <a routerLink="" class=""><i class="fa fa-pinterest" aria-hidden="true"></i></a> 
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <img src="assets/IMAGES/payit.PNG" style="width:100%" class="mt-4" alt="">
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <a routerLink="/" > <img src="assets/IMAGES/aslogo.png" style="height:100px; width:200px" class="mt-4" alt=""></a>
                       
                </div>
            </div>
                    </div>
                </div>
                
                
    </div>
    <hr style="background-color:lightgray">
    <div class="container-fluid">
            <div class="row">
                    <div class="col-md-12">
                            <p class="" style="color:lightgray;font-size: 14px">Copyright &copy; Noor Al Johara Mobiles Trading LLC. | All RIGHTS RESERVED | <small>  <a routerLink="">Privacy Policy</a>   </small> | <small><a routerLink="">Terms and Conditions</a></small> </p> 
                    </div>
                </div>
    </div>
</div>


