<div class="row">
    <div class="col-md-3 bg-dark" style="height:1400px">
        <app-dashboard-sidebar></app-dashboard-sidebar>
        </div>
    <div class="col-md-9" style="background-color:lightgrey">
        <div class="container-fluid">
<app-dashboard-header></app-dashboard-header>
        <h3 class="mt-4">Noordeal Dashboard</h3>
        <hr>
<div class="row mt-4">
    <div class="col-md-4">
        <div class="card rounded-0 d-flex justify-content-center" style="background-color:midnightblue;height:200px">
            <h1 class="text-center" style="color: midnightblue"> <i style="border-radius:50%;background-color:white"  class="fa fa-archive pt-3 pb-3 pl-3 pr-3" aria-hidden="true">
                </i></h1>
               <h6 class="text-center" style="color:white">TOTAL PRODUCTS</h6>
               <h3 class="text-center" style="color:white">349</h3>

        </div>
    </div>
    <div class="col-md-4">
        <div class="card rounded-0 d-flex justify-content-center" style="background-color:lightgreen;height:200px">
                <h1 class="text-center" style="color: lightgreen"> <i style="border-radius:50%;background-color:white"  class="fa fa-shopping-cart pt-3 pb-3 pl-4 pr-4" aria-hidden="true">
                    </i></h1>
                   <h6 class="text-center" style="color:white">TOTAL ORDERS</h6>
                   <h3 class="text-center" style="color:white">3491</h3>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card rounded-0 d-flex justify-content-center" style="background-color:yellowgreen;height:200px">
                
                        <h1 class="text-center" style="color: yellowgreen"> <i style="border-radius:50%;background-color:white"  class="fa fa-users pt-3 pb-3 pl-3 pr-3" aria-hidden="true">
                            </i></h1>
                           <h6 class="text-center" style="color:white">TOTAL USERS</h6>
                           <h3 class="text-center" style="color:white">654</h3>
                
        </div>
    </div>
</div>

<img src="assets/IMAGES/aaaa.png" style="width:100%" class="mt-4 mb-4" alt="">

<div class="row mb-4">
    <div class="col-md-4">
            <div class="card rounded-0 shadow" style="height:370px">
<div class="container-fluid">
    <p class="pt-2">Recent Orders</p>
    <hr>
    <div class="row">
        <div class="col-2">
<h2>
        <i style="color: gray"  class="fa fa-shopping-cart" aria-hidden="true">
            </i>
</h2>
        </div>
        <div class="col-10">

            <a routerLink="" class="mt-2">nooraljoharamt@gmail.com</a>
        </div>
    </div>
    <div class="row">
            <div class="col-2">
    <h2>
            <i style="color: gray"  class="fa fa-shopping-cart" aria-hidden="true">
                </i>
    </h2>
            </div>
            <div class="col-10">
                <a routerLink="" class="mt-2">nooraljoharamt@gmail.com</a>
            </div>
        </div>
        <div class="row">
                <div class="col-2">
        <h2>
                <i style="color: gray"  class="fa fa-shopping-cart" aria-hidden="true">
                    </i>
        </h2>
                </div>
                <div class="col-10">
                    <a routerLink="" class="mt-2">nooraljoharamt@gmail.com</a>
                </div>
            </div>
            <div class="row">
                    <div class="col-2">
            <h2>
                    <i style="color: gray"  class="fa fa-shopping-cart" aria-hidden="true">
                        </i>
            </h2>
                    </div>
                    <div class="col-10">
                        <a routerLink="" class="mt-2">nooraljoharamt@gmail.com</a>
                    </div>
                </div>
                <div class="row">
                        <div class="col-2">
                <h2>
                        <i style="color: gray"  class="fa fa-shopping-cart" aria-hidden="true">
                            </i>
                </h2>
                        </div>
                        <div class="col-10">
                            <a routerLink="" class="mt-2">nooraljoharamt@gmail.com</a>
                        </div>
                    </div>
</div>
<hr>
                        <a routerLink="" class="text-center">View all orders</a>
                </div>
    </div>
    <div class="col-md-4">
            <div class="card rounded-0 shadow" style="height:400px">
                    <div class="container-fluid">
                            <p class="pt-2">Recent Products</p>
                            <hr>
                            <div class="row">
                                    <div class="col-2">
                            <h2>
                                    <i style="color: gray"  class="fa fa-archive" aria-hidden="true">
                                        </i>
                            </h2>
                                    </div>
                                    <div class="col-10">
                                        <p><a routerLink="">Iphone 11 pro 15mp-front 24mp-rear 128Gb</a></p>
                                    </div>
                                </div>
                                <div class="row">
                                        <div class="col-2">
                                <h2>
                                        <i style="color: gray"  class="fa fa-archive" aria-hidden="true">
                                            </i>
                                </h2>
                                        </div>
                                        <div class="col-10">
                                            <p><a routerLink="">Iphone 11 pro 15mp-front 24mp-rear 128Gb</a></p>
                                        </div>
                                    </div>
                                    <div class="row">
                                            <div class="col-2">
                                    <h2>
                                            <i style="color: gray"  class="fa fa-archive" aria-hidden="true">
                                                </i>
                                    </h2>
                                            </div>
                                            <div class="col-10">
                                                <p><a routerLink="">Iphone 11 pro 15mp-front 24mp-rear 128Gb</a></p>
                                            </div>
                                        </div>
                                        <div class="row">
                                                <div class="col-2">
                                        <h2>
                                                <i style="color: gray"  class="fa fa-archive" aria-hidden="true">
                                                    </i>
                                        </h2>
                                                </div>
                                                <div class="col-10">
                                                    <p><a routerLink="">Iphone 11 pro 15mp-front 24mp-rear 128Gb</a></p>
                                                </div>
                                            </div>
                                            
                        </div>
                        <hr>
                        <a routerLink="" class="text-center">View all products</a>
                </div>
    </div>
    <div class="col-md-4">
            <div class="card rounded-0 shadow" style="height:370px">
                    <div class="container-fluid">
                            <p class="pt-2">New Users</p>
                            <hr>
                            <div class="row">
                                    <div class="col-2">
                            <h2>
                                    <i style="color: gray"  class="fa fa-user" aria-hidden="true">
                                        </i>
                            </h2>
                                    </div>
                                    <div class="col-10">
                                        <a routerLink="">Usman Danbaba</a>
                                    </div>
                                </div>
                                <div class="row">
                                        <div class="col-2">
                                <h2>
                                        <i style="color: gray"  class="fa fa-user" aria-hidden="true">
                                            </i>
                                </h2>
                                        </div>
                                        <div class="col-10">
                                            <a routerLink="">Usman Danbaba</a>
                                        </div>
                                    </div>
                                    <div class="row">
                                            <div class="col-2">
                                    <h2>
                                            <i style="color: gray"  class="fa fa-user" aria-hidden="true">
                                                </i>
                                    </h2>
                                            </div>
                                            <div class="col-10">
                                                <a routerLink="">Usman Danbaba</a>
                                            </div>
                                        </div>
                                        <div class="row">
                                                <div class="col-2">
                                        <h2>
                                                <i style="color: gray"  class="fa fa-user" aria-hidden="true">
                                                    </i>
                                        </h2>
                                                </div>
                                                <div class="col-10">
                                                    <a routerLink="">Usman Danbaba</a>
                                                </div>
                                            </div>
                                            <div class="row">
                                                    <div class="col-2">
                                            <h2>
                                                    <i style="color: gray"  class="fa fa-user" aria-hidden="true">
                                                        </i>
                                            </h2>
                                                    </div>
                                                    <div class="col-10">
                                                        <a routerLink="">Usman Danbaba</a>
                                                    </div>
                                                </div>
                                                
                        </div>
                        <hr>
                        <a routerLink="" class="text-center">View all users</a>
                </div>
    </div>
    
</div>

        </div>
    </div>



</div>
<app-dashboard-footer></app-dashboard-footer>
