
<div class="row bg-white mt-4" style="width:100%">
    <div class="col-6">
            <form class="form-inline my-2 my-lg-0 pt-2 pb-2" style="float:left">
                    <input class="form-control mr-sm-2 pr-4 rounded-0" style="border: 1px solid #cc5500" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-- rounded-0 my-2 my-sm-0" style="background-color:#cc5500;color:white" type="submit">Search</button>
                  </form>
    </div>
    <div class="col-6">
            <div style="float:right;" class="pt-2 pb-2">
            
                    <button class="btn rounded-0" data-toggle="modal" data-target="#logout" style="background-color:#cc5500;color:white;">LOGOUT</button>
                   </div>
    </div>
</div>
                   <!-- Modal -->
  <div class="modal rounded-0 fade" id="logout" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <h5 class="text-center">Are you sure ou want to logout ?</h5>
            </div>
            <div class="modal-footer">
    
              <button type="button" class="btn btn-md rounded-0" style="background-color:#cc5500;color:white">LOGOUT</button>
              <button type="button" data-dismiss="modal" aria-label="Close" class="btn btn-md rounded-0 btn-danger" style="color:white">CANCEL</button>
            </div>
          </div>
        </div>
      
    </div>