<app-navbar></app-navbar>
<div class="container-fluid">
        <h2  style="color:#418ec4" class="text-center mt-4" *ngIf="router.url ==='/shop/PC-Accessories'">CATEGORY: <span style="color:black">PC ACCESSORIES</span></h2>
        <h2  style="color:#418ec4" class="text-center mt-4" *ngIf="router.url ==='/shop/Xiaomi-Mijia-Electric-Scooter'">CATEGORY: <span style="color:black">XIAOMI MIJIA ELECTRIC SCOOTER</span></h2>
        <h2  style="color:#418ec4" class="text-center mt-4" *ngIf="router.url ==='/shop/Segway-Ninebot-Scooter'">CATEGORY: <span style="color:black">SEGWAY NINEBOT SCOOTER</span></h2>
        <h2  style="color:#418ec4" class="text-center mt-4" *ngIf="router.url ==='/shop/Home-Theartres'">CATEGORY: <span style="color:black">HOME THEARTRES</span></h2>
        <h2  style="color:#418ec4" class="text-center mt-4" *ngIf="router.url ==='/shop/Printers-and-Ink'">CATEGORY: <span style="color:black">PRINTERS & INK</span></h2>
        <h2  style="color:#418ec4" class="text-center mt-4" *ngIf="router.url ==='/shop/Projectors'">CATEGORY: <span style="color:black">PROJECTORS</span></h2>
        <h2  style="color:#418ec4" class="text-center mt-4" *ngIf="router.url ==='/shop/Video-Games-and-Consoles'">CATEGORY: <span style="color:black">VIDEO, GAMES & CONSOLES</span></h2>
        <h2  style="color:#418ec4" class="text-center mt-4" *ngIf="router.url ==='/shop/Tvs'">CATEGORY: <span style="color:black">TELEVISIONS</span></h2>
        <h2  style="color:#418ec4" class="text-center mt-4" *ngIf="router.url ==='/shop/Networking'">CATEGORY: <span style="color:black">NETWORKING</span></h2>
        <h2  style="color:#418ec4" class="text-center mt-4" *ngIf="router.url ==='/shop/Chargers'">CATEGORY: <span style="color:black">CHARGERS</span></h2>
        <h2  style="color:#418ec4" class="text-center mt-4" *ngIf="router.url ==='/shop/Powerbanks'">CATEGORY: <span style="color:black">POWER BANKS</span></h2>
        <h2  style="color:#418ec4" class="text-center mt-4" *ngIf="router.url ==='/shop/Cables'">CATEGORY: <span style="color:black">CABLES</span></h2>
        <h2  style="color:#418ec4" class="text-center mt-4" *ngIf="router.url ==='/shop/Speakers'">CATEGORY: <span style="color:black">SPEAKERS</span></h2>
        <h2  style="color:#418ec4" class="text-center mt-4" *ngIf="router.url ==='/shop/Wearables'">CATEGORY: <span style="color:black"></span></h2>
        <h2  style="color:#418ec4" class="text-center mt-4" *ngIf="router.url ==='/shop/Car-Accessories'">CATEGORY: <span style="color:black">CAR ACCESSORIES</span></h2>
        <h2  style="color:#418ec4" class="text-center mt-4" *ngIf="router.url ==='/shop/Laptops'">CATEGORY: <span style="color:black">LAPTOPS</span></h2>
        <h2  style="color:#418ec4" class="text-center mt-4" *ngIf="router.url ==='/shop/Headphones'">CATEGORY: <span style="color:black">HEADPHONES</span></h2>
        <h2  style="color:#418ec4" class="text-center mt-4" *ngIf="router.url ==='/shop/Desktop-Computers'">CATEGORY: <span style="color:black">DESKTOP COMPUTERS</span></h2>
    <div class="row" style="float:right" *ngIf="router.url ==='/shop/PC-Accessories'">
        <div class="col-md-2 " *ngFor="let product of pca">
            <div class="container-fluid">
                <button class="btn btn-sm btn-info rounded-0" style="float:left;">-{{product.discount}}%</button>
                <button class="btn btn-sm btn-danger rounded-0" *ngIf="product.salequantity === 0" style="float:right;">Out of Stock</button>
                <button class="btn btn-sm btn-success rounded-0" *ngIf="product.salequantity !== 0" style="float:right;">2 items in stcok</button>
                  
                    <div *ngFor="let cimage of product.cimage">
                        <img src="assets/productsimages/{{cimage.filename}}"  style="width:100%;">
                    </div>
                 
                 <a [routerLink]="['/product/',product._id]" style="font-size: 14px;color:#418ec4" class="hitems text-center">
                 
                      {{product.name}}
                 </a>
                 <p style="color:#dc3545" class="prices" >AED {{product.saleprice}}  <span style="color:gray;font-size: 14px"> <del>AED {{product.regularprice}}</del></span></p>
             
             </div>
        </div>
    </div>
    <div class="row" *ngIf="router.url ==='/shop/PC-Accessories' && pca.length === 0 || pca.length === undefined">
       <div class="col-md-12">
           <h2 style="margin-top:100px;margin-bottom:100px" class="text-center">There are no products available</h2>
       </div>
    </div>

    <div class="row" style="float:right" *ngIf="router.url ==='/shop/Xiaomi-Mijia-Electric-Scooter'">
        <div class="col-md-2 " *ngFor="let product of xes">
            <div class="container-fluid">
                <button class="btn btn-sm btn-info rounded-0" style="float:left;">-{{product.discount}}%</button>
                <button class="btn btn-sm btn-danger rounded-0" *ngIf="product.salequantity === 0" style="float:right;">Out of Stock</button>
                <button class="btn btn-sm btn-success rounded-0" *ngIf="product.salequantity !== 0" style="float:right;">2 items in stcok</button>
                  
                
                    <div *ngFor="let cimage of product.cimage">
                        <img src="assets/productsimages/{{cimage.filename}}"  style="width:100%;">
                    </div>
                 
                 <a [routerLink]="['/product/',product._id]" style="font-size: 14px;color:#418ec4" class="hitems text-center">
                 
                      {{product.name}}
                 </a>
                 <p style="color:#dc3545" class="prices" >AED {{product.saleprice}}  <span style="color:gray;font-size: 14px"> <del>AED {{product.regularprice}}</del></span></p>
             
             </div>
        </div>
    </div>
    <div class="row" *ngIf="router.url ==='/shop/Xiaomi-Mijia-Electric-Scooter' && xes.length === 0">
        <div class="col-md-12" style="height:300px">
            <h2 style="margin-top:100px;margin-bottom:100px" class="text-center" style="margin-top:150px">There are no products available</h2>
        </div>
        
     </div>
 

    <div class="row" style="float:right" *ngIf="router.url ==='/shop/Segway-Ninebot-Scooter'">
        <div class="col-md-2 " *ngFor="let product of snscot">
            <div class="container-fluid">
                <button class="btn btn-sm btn-info rounded-0" style="float:left;">-{{product.discount}}%</button>
                <button class="btn btn-sm btn-danger rounded-0" *ngIf="product.salequantity === 0" style="float:right;">Out of Stock</button>
                <button class="btn btn-sm btn-success rounded-0" *ngIf="product.salequantity !== 0" style="float:right;">2 items in stcok</button>
                  
                
                    <div *ngFor="let cimage of product.cimage">
                        <img src="assets/productsimages/{{cimage.filename}}"  style="width:100%;">
                    </div>
                 
                 <a [routerLink]="['/product/',product._id]" style="font-size: 14px;color:#418ec4" class="hitems text-center">
                 
                      {{product.name}}
                 </a>
                 <p style="color:#dc3545" class="prices" >AED {{product.saleprice}}  <span style="color:gray;font-size: 14px"> <del>AED {{product.regularprice}}</del></span></p>
             
             </div>
        </div>
    </div>

    <div class="row" *ngIf="router.url ==='/shop/Segway-Ninebot-Scooter' && snscot.length === 0">
        <div class="col-md-12">
            <h2 style="margin-top:100px;margin-bottom:100px" class="text-center">There are no products available</h2>
        </div>
     </div>

    <div class="row" style="float:right" *ngIf="router.url ==='/shop/MI-Electric-Scooter'">
        <div class="col-md-2 " *ngFor="let product of meles">
            <div class="container-fluid">
                <button class="btn btn-sm btn-info rounded-0" style="float:left;">-{{product.discount}}%</button>
                <button class="btn btn-sm btn-danger rounded-0" *ngIf="product.salequantity === 0" style="float:right;">Out of Stock</button>
                <button class="btn btn-sm btn-success rounded-0" *ngIf="product.salequantity !== 0" style="float:right;">2 items in stcok</button>
                  
                
                    <div *ngFor="let cimage of product.cimage">
                        <img src="assets/productsimages/{{cimage.filename}}"  style="width:100%;">
                    </div>
                 
                 <a [routerLink]="['/product/',product._id]" style="font-size: 14px;color:#418ec4" class="hitems text-center">
                 
                      {{product.name}}
                 </a>
                 <p style="color:#dc3545" class="prices" >AED {{product.saleprice}}  <span style="color:gray;font-size: 14px"> <del>AED {{product.regularprice}}</del></span></p>
             
             </div>
        </div>
    </div>

    <div class="row"  *ngIf="router.url ==='/shop/MI-Electric-Scooter' && meles.length === 0">
        <div class="col-md-12">
            <h2 style="margin-top:100px;margin-bottom:100px" class="text-center">There are no products available</h2>
        </div>
     </div>

    <div class="row" style="float:right" *ngIf="router.url ==='/shop/Home-Theartres'">
        <div class="col-md-2 " *ngFor="let product of ht">
            <div class="container-fluid">
                <button class="btn btn-sm btn-info rounded-0" style="float:left;">-{{product.discount}}%</button>
                <button class="btn btn-sm btn-danger rounded-0" *ngIf="product.salequantity === 0" style="float:right;">Out of Stock</button>
                <button class="btn btn-sm btn-success rounded-0" *ngIf="product.salequantity !== 0" style="float:right;">2 items in stcok</button>
                  
                
                    <div *ngFor="let cimage of product.cimage">
                        <img src="assets/productsimages/{{cimage.filename}}"  style="width:100%;">
                    </div>
                 
                 <a [routerLink]="['/product/',product._id]" style="font-size: 14px;color:#418ec4" class="hitems text-center">
                 
                      {{product.name}}
                 </a>
                 <p style="color:#dc3545" class="prices" >AED {{product.saleprice}}  <span style="color:gray;font-size: 14px"> <del>AED {{product.regularprice}}</del></span></p>
             
             </div>
        </div>    </div>

    <div class="row" *ngIf="router.url ==='/shop/Home-Theartres' && ht.length === 0">
        <div class="col-md-12">
            <h2 style="margin-top:100px;margin-bottom:100px" class="text-center">There are no products available</h2>
        </div>
     </div>

    <div class="row" style="float:right" *ngIf="router.url ==='/shop/Printers-and-Ink'">
        <div class="col-md-2 " *ngFor="let product of pink">
            <div class="container-fluid">
                <button class="btn btn-sm btn-info rounded-0" style="float:left;">-{{product.discount}}%</button>
                <button class="btn btn-sm btn-danger rounded-0" *ngIf="product.salequantity === 0" style="float:right;">Out of Stock</button>
                <button class="btn btn-sm btn-success rounded-0" *ngIf="product.salequantity !== 0" style="float:right;">2 items in stcok</button>
               
                    <div *ngFor="let cimage of product.cimage">
                        <img src="assets/productsimages/{{cimage.filename}}"  style="width:100%;">
                    </div>
                 
                 <a [routerLink]="['/product/',product._id]" style="font-size: 14px;color:#418ec4" class="hitems text-center">
                 
                      {{product.name}}
                 </a>
                 <p style="color:#dc3545" class="prices" >AED {{product.saleprice}}  <span style="color:gray;font-size: 14px"> <del>AED {{product.regularprice}}</del></span></p>
             
             </div>
        </div>
    </div>

    <div class="row" *ngIf="router.url ==='/shop/Printers-and-Ink' && pink.length === 0">
        <div class="col-md-12">
            <h2 style="margin-top:100px;margin-bottom:100px" class="text-center">There are no products available</h2>
        </div>
     </div>

    <div class="row" style="float:right" *ngIf="router.url ==='/shop/Projectors'">
        <div class="col-md-2 " *ngFor="let product of proj">
            <div class="container-fluid">
                <button class="btn btn-sm btn-info rounded-0" style="float:left;">-{{product.discount}}%</button>
                <button class="btn btn-sm btn-danger rounded-0" *ngIf="product.salequantity === 0" style="float:right;">Out of Stock</button>
                <button class="btn btn-sm btn-success rounded-0" *ngIf="product.salequantity !== 0" style="float:right;">2 items in stcok</button>
                  
                
                    <div *ngFor="let cimage of product.cimage">
                        <img src="assets/productsimages/{{cimage.filename}}"  style="width:100%;">
                    </div>
                 
                 <a [routerLink]="['/product/',product._id]" style="font-size: 14px;color:#418ec4" class="hitems text-center">
                 
                      {{product.name}}
                 </a>
                 <p style="color:#dc3545" class="prices" >AED {{product.saleprice}}  <span style="color:gray;font-size: 14px"> <del>AED {{product.regularprice}}</del></span></p>
             
             </div>
        </div>
    </div>

    <div class="row" *ngIf="router.url ==='/shop/Projectors' && proj.length === 0">
        <div class="col-md-12">
            <h2 style="margin-top:100px;margin-bottom:100px" class="text-center">There are no products available</h2>
        </div>
     </div>

    <div class="row" style="float:right" *ngIf="router.url ==='/shop/Video-Games-and-Consoles'">
        <div class="col-md-2 " *ngFor="let product of vgc">
            <div class="container-fluid">
                <button class="btn btn-sm btn-info rounded-0" style="float:left;">-{{product.discount}}%</button>
                <button class="btn btn-sm btn-danger rounded-0" *ngIf="product.salequantity === 0" style="float:right;">Out of Stock</button>
                <button class="btn btn-sm btn-success rounded-0" *ngIf="product.salequantity !== 0" style="float:right;">2 items in stcok</button>
                  
                
                    <div *ngFor="let cimage of product.cimage">
                        <img src="assets/productsimages/{{cimage.filename}}"  style="width:100%;">
                    </div>
                 
                 <a [routerLink]="['/product/',product._id]" style="font-size: 14px;color:#418ec4" class="hitems text-center">
                 
                      {{product.name}}
                 </a>
                 <p style="color:#dc3545" class="prices" >AED {{product.saleprice}}  <span style="color:gray;font-size: 14px"> <del>AED {{product.regularprice}}</del></span></p>
             
             </div>
        </div>
    </div>
    <div class="row" *ngIf="router.url ==='/shop/Video-Games-and-Consoles' && vgc.length === 0">
        <div class="col-md-12">
            <h2 style="margin-top:100px;margin-bottom:100px" class="text-center">There are no products available</h2>
        </div>
     </div>

     <div class="row" style="float:right" *ngIf="router.url ==='/shop/Tvs'">
        <div class="col-md-2 " *ngFor="let product of tv">
            <div class="container-fluid">
                <button class="btn btn-sm btn-info rounded-0" style="float:left;">-{{product.discount}}%</button>
                <button class="btn btn-sm btn-danger rounded-0" *ngIf="product.salequantity === 0" style="float:right;">Out of Stock</button>
                <button class="btn btn-sm btn-success rounded-0" *ngIf="product.salequantity !== 0" style="float:right;">2 items in stcok</button>
                  
                
                    <div *ngFor="let cimage of product.cimage">
                        <img src="assets/productsimages/{{cimage.filename}}"  style="width:100%;">
                    </div>
                 
                 <a [routerLink]="['/product/',product._id]" style="font-size: 14px;color:#418ec4" class="hitems text-center">
                 
                      {{product.name}}
                 </a>
                 <p style="color:#dc3545" class="prices" >AED {{product.saleprice}}  <span style="color:gray;font-size: 14px"> <del>AED {{product.regularprice}}</del></span></p>
             
             </div>
        </div>
    </div>
    <div class="row"  *ngIf="router.url ==='/shop/Tvs' && tv.length === 0">
        <div class="col-md-12">
            <h2 style="margin-top:100px;margin-bottom:100px" class="text-center">There are no products available</h2>
        </div>
     </div>

     <div class="row" style="float:right" *ngIf="router.url ==='/shop/Networking'">
        <div class="col-md-2">

        </div><div class="col-md-2 " *ngFor="let product of net">
            <div class="container-fluid">
                <button class="btn btn-sm btn-info rounded-0" style="float:left;">-{{product.discount}}%</button>
                <button class="btn btn-sm btn-danger rounded-0" *ngIf="product.salequantity === 0" style="float:right;">Out of Stock</button>
                <button class="btn btn-sm btn-success rounded-0" *ngIf="product.salequantity !== 0" style="float:right;">2 items in stcok</button>
                  
                
                    <div *ngFor="let cimage of product.cimage">
                        <img src="assets/productsimages/{{cimage.filename}}"  style="width:100%;">
                    </div>
                 
                 <a [routerLink]="['/product/',product._id]" style="font-size: 14px;color:#418ec4" class="hitems text-center">
                 
                      {{product.name}}
                 </a>
                 <p style="color:#dc3545" class="prices" >AED {{product.saleprice}}  <span style="color:gray;font-size: 14px"> <del>AED {{product.regularprice}}</del></span></p>
             
             </div>
        </div>
    </div>
    <div class="row" *ngIf="router.url ==='/shop/Networking' && net.length === 0">
        <div class="col-md-12">
            <h2 style="margin-top:100px;margin-bottom:100px" class="text-center">There are no products available</h2>
        </div>
     </div>
<!---->
     <div class="row" style="float:right" *ngIf="router.url ==='/shop/Chargers'">
        <div class="col-md-2 " *ngFor="let product of chargers">
            <div class="container-fluid">
                <button class="btn btn-sm btn-info rounded-0" style="float:left;">-{{product.discount}}%</button>
                <button class="btn btn-sm btn-danger rounded-0" *ngIf="product.salequantity === 0" style="float:right;">Out of Stock</button>
                <button class="btn btn-sm btn-success rounded-0" *ngIf="product.salequantity !== 0" style="float:right;">2 items in stcok</button>
                  
                
                    <div *ngFor="let cimage of product.cimage">
                        <img src="assets/productsimages/{{cimage.filename}}"  style="width:100%;">
                    </div>
                 
                 <a [routerLink]="['/product/',product._id]" style="font-size: 14px;color:#418ec4" class="hitems text-center">
                 
                      {{product.name}}
                 </a>
                 <p style="color:#dc3545" class="prices" >AED {{product.saleprice}}  <span style="color:gray;font-size: 14px"> <del>AED {{product.regularprice}}</del></span></p>
             
             </div>
        </div>
    </div>
    <div class="row" *ngIf="router.url ==='/shop/Chargers' && chargers.length === 0">
        <div class="col-md-12">
            <h2 style="margin-top:100px;margin-bottom:100px" class="text-center">There are no products available</h2>
        </div>
     </div>

     <div class="row" style="float:right" *ngIf="router.url ==='/shop/Powerbanks'">
        <div class="col-md-2 " *ngFor="let product of pb">
            <div class="container-fluid">
                <button class="btn btn-sm btn-info rounded-0" style="float:left;">-{{product.discount}}%</button>
                <button class="btn btn-sm btn-danger rounded-0" *ngIf="product.salequantity === 0" style="float:right;">Out of Stock</button>
                <button class="btn btn-sm btn-success rounded-0" *ngIf="product.salequantity !== 0" style="float:right;">2 items in stcok</button>
                  
                
                    <div *ngFor="let cimage of product.cimage">
                        <img src="assets/productsimages/{{cimage.filename}}"  style="width:100%;">
                    </div>
                 
                 <a [routerLink]="['/product/',product._id]" style="font-size: 14px;color:#418ec4" class="hitems text-center">
                 
                      {{product.name}}
                 </a>
                 <p style="color:#dc3545" class="prices" >AED {{product.saleprice}}  <span style="color:gray;font-size: 14px"> <del>AED {{product.regularprice}}</del></span></p>
             
             </div>
        </div>
    </div>
    <div class="row" *ngIf="router.url ==='/shop/Powerbanks' && pb.length === 0">
        <div class="col-md-12">
            <h2 style="margin-top:100px;margin-bottom:100px" class="text-center">There are no products available</h2>
        </div>
     </div>

     <div class="row" style="float:right" *ngIf="router.url ==='/shop/Cables'">
        <div class="col-md-2 " *ngFor="let product of cables">
            <div class="container-fluid">
                <button class="btn btn-sm btn-info rounded-0" style="float:left;">-{{product.discount}}%</button>
                <button class="btn btn-sm btn-danger rounded-0" *ngIf="product.salequantity === 0" style="float:right;">Out of Stock</button>
                <button class="btn btn-sm btn-success rounded-0" *ngIf="product.salequantity !== 0" style="float:right;">2 items in stcok</button>
                  
                
                    <div *ngFor="let cimage of product.cimage">
                        <img src="assets/productsimages/{{cimage.filename}}"  style="width:100%;">
                    </div>
                 
                 <a [routerLink]="['/product/',product._id]" style="font-size: 14px;color:#418ec4" class="hitems text-center">
                 
                      {{product.name}}
                 </a>
                 <p style="color:#dc3545" class="prices" >AED {{product.saleprice}}  <span style="color:gray;font-size: 14px"> <del>AED {{product.regularprice}}</del></span></p>
             
             </div>
        </div>>
    </div>
    <div class="row"  *ngIf="router.url ==='/shop/Cables' && cables.length === 0">
        <div class="col-md-12">
            <h2 style="margin-top:100px;margin-bottom:100px" class="text-center">There are no products available</h2>
        </div>
     </div>


     <div class="row" style="float:right" *ngIf="router.url ==='/shop/Speakers'">
        <div class="col-md-2 " *ngFor="let product of speakers">
            <div class="container-fluid">
                <button class="btn btn-sm btn-info rounded-0" style="float:left;">-{{product.discount}}%</button>
                <button class="btn btn-sm btn-danger rounded-0" *ngIf="product.salequantity === 0" style="float:right;">Out of Stock</button>
                <button class="btn btn-sm btn-success rounded-0" *ngIf="product.salequantity !== 0" style="float:right;">2 items in stcok</button>
                  
                
                    <div *ngFor="let cimage of product.cimage">
                        <img src="assets/productsimages/{{cimage.filename}}"  style="width:100%;">
                    </div>
                 
                 <a [routerLink]="['/product/',product._id]" style="font-size: 14px;color:#418ec4" class="hitems text-center">
                 
                      {{product.name}}
                 </a>
                 <p style="color:#dc3545" class="prices" >AED {{product.saleprice}}  <span style="color:gray;font-size: 14px"> <del>AED {{product.regularprice}}</del></span></p>
             
             </div>
        </div>
    </div>
    <div class="row" *ngIf="router.url ==='/shop/Speakers' && speakers.length === 0">
        <div class="col-md-12">
            <h2 style="margin-top:100px;margin-bottom:100px" class="text-center">There are no products available</h2>
        </div>
     </div>


     <div class="row" style="float:right" *ngIf="router.url ==='/shop/Wearables'">
        <div class="col-md-2 " *ngFor="let product of wear">
            <div class="container-fluid">
                <button class="btn btn-sm btn-info rounded-0" style="float:left;">-{{product.discount}}%</button>
                <button class="btn btn-sm btn-danger rounded-0" *ngIf="product.salequantity === 0" style="float:right;">Out of Stock</button>
                <button class="btn btn-sm btn-success rounded-0" *ngIf="product.salequantity !== 0" style="float:right;">2 items in stcok</button>
                  
                
                    <div *ngFor="let cimage of product.cimage">
                        <img src="assets/productsimages/{{cimage.filename}}"  style="width:100%;">
                    </div>
                 
                 <a [routerLink]="['/product/',product._id]" style="font-size: 14px;color:#418ec4" class="hitems text-center">
                 
                      {{product.name}}
                 </a>
                 <p style="color:#dc3545" class="prices" >AED {{product.saleprice}}  <span style="color:gray;font-size: 14px"> <del>AED {{product.regularprice}}</del></span></p>
             
             </div>
        </div>
    </div>
    <div class="row" *ngIf="router.url ==='/shop/Wearables' && wear.length === 0">
        <div class="col-md-12">
            <h2 style="margin-top:100px;margin-bottom:100px" class="text-center">There are no products available</h2>
        </div>
     </div>


     <div class="row" style="float:right" *ngIf="router.url ==='/shop/Car-Accessories'">
        <div class="col-md-2 " *ngFor="let product of crac">
            <div class="container-fluid">
                <button class="btn btn-sm btn-info rounded-0" style="float:left;">-{{product.discount}}%</button>
                <button class="btn btn-sm btn-danger rounded-0" *ngIf="product.salequantity === 0" style="float:right;">Out of Stock</button>
                <button class="btn btn-sm btn-success rounded-0" *ngIf="product.salequantity !== 0" style="float:right;">2 items in stcok</button>
                  
                
                    <div *ngFor="let cimage of product.cimage">
                        <img src="assets/productsimages/{{cimage.filename}}"  style="width:100%;">
                    </div>
                 
                 <a [routerLink]="['/product/',product._id]" style="font-size: 14px;color:#418ec4" class="hitems text-center">
                 
                      {{product.name}}
                 </a>
                 <p style="color:#dc3545" class="prices" >AED {{product.saleprice}}  <span style="color:gray;font-size: 14px"> <del>AED {{product.regularprice}}</del></span></p>
             
             </div>
        </div>
    </div>
    <div class="row" *ngIf="router.url ==='/shop/Car-Accessories' && crac.length === 0">
        <div class="col-md-12">
            <h2 style="margin-top:100px;margin-bottom:100px" class="text-center">There are no products available</h2>
        </div>
     </div>


     <div class="row" style="float:right" *ngIf="router.url ==='/shop/Headphones'">
        <div class="col-md-2 " *ngFor="let product of hp">
            <div class="container-fluid">
                <button class="btn btn-sm btn-info rounded-0" style="float:left;">-{{product.discount}}%</button>
                <button class="btn btn-sm btn-danger rounded-0" *ngIf="product.salequantity === 0" style="float:right;">Out of Stock</button>
                <button class="btn btn-sm btn-success rounded-0" *ngIf="product.salequantity !== 0" style="float:right;">2 items in stcok</button>
                  
                
                    <div *ngFor="let cimage of product.cimage">
                        <img src="assets/productsimages/{{cimage.filename}}"  style="width:100%;">
                    </div>
                 
                 <a [routerLink]="['/product/',product._id]" style="font-size: 14px;color:#418ec4" class="hitems text-center">
                 
                      {{product.name}}
                 </a>
                 <p style="color:#dc3545" class="prices" >AED {{product.saleprice}}  <span style="color:gray;font-size: 14px"> <del>AED {{product.regularprice}}</del></span></p>
             
             </div>
        </div>
    </div>
    <div class="row" *ngIf="router.url ==='/shop/Headphones' && hp.length === 0">
        <div class="col-md-12">
            <h2 style="margin-top:100px;margin-bottom:100px" class="text-center">There are no products available</h2>
        </div>
     </div>

     <!---->
     
    </div>
    <div class="row" style="float:right" *ngIf="router.url ==='/shop/Laptops'">
        <div class="col-md-2 " *ngFor="let product of lap">
            <div class="container-fluid">
                <button class="btn btn-sm btn-info rounded-0" style="float:left;">-{{product.discount}}%</button>
                <button class="btn btn-sm btn-danger rounded-0" *ngIf="product.salequantity === 0" style="float:right;">Out of Stock</button>
                <button class="btn btn-sm btn-success rounded-0" *ngIf="product.salequantity !== 0" style="float:right;">2 items in stcok</button>
                  
                
                    <div *ngFor="let cimage of product.cimage">
                        <img src="assets/productsimages/{{cimage.filename}}"  style="width:100%;">
                    </div>
                 
                 <a [routerLink]="['/product/',product._id]" style="font-size: 14px;color:#418ec4" class="hitems text-center">
                 
                      {{product.name}}
                 </a>
                 <p style="color:#dc3545" class="prices" >AED {{product.saleprice}}  <span style="color:gray;font-size: 14px"> <del>AED {{product.regularprice}}</del></span></p>
             
             </div>
        </div>
    </div>
    <div class="row" *ngIf="router.url ==='/shop/Laptops' && lap.length === 0">
        <div class="col-md-12">
            <h2 style="margin-top:100px;margin-bottom:100px" class="text-center">There are no products available</h2>
        </div>
     </div>
     <div class="row" style="float:right" *ngIf="router.url ==='/shop/Desktop-Computers'">
        <div class="col-md-2 " *ngFor="let product of desc">
            <div class="container-fluid">
                <button class="btn btn-sm btn-info rounded-0" style="float:left;">-{{product.discount}}%</button>
                <button class="btn btn-sm btn-danger rounded-0" *ngIf="product.salequantity === 0" style="float:right;">Out of Stock</button>
                <button class="btn btn-sm btn-success rounded-0" *ngIf="product.salequantity !== 0" style="float:right;">2 items in stcok</button>
                  
                
                    <div *ngFor="let cimage of product.cimage">
                        <img src="assets/productsimages/{{cimage.filename}}"  style="width:100%;">
                    </div>
                 
                 <a [routerLink]="['/product/',product._id]" style="font-size: 14px;color:#418ec4" class="hitems text-center">
                 
                      {{product.name}}
                 </a>
                 <p style="color:#dc3545" class="prices" >AED {{product.saleprice}}  <span style="color:gray;font-size: 14px"> <del>AED {{product.regularprice}}</del></span></p>
             
             </div>
        </div>
     
    <div class="row" *ngIf="router.url ==='/shop/Desktop-Computers' && desc.length === 0">
        <div class="col-md-12">
            <h2 style="margin-top:100px;margin-bottom:100px" class="text-center">There are no products available</h2>
        </div>
     </div>


   
</div>
<app-footer></app-footer>