<app-navbar></app-navbar>
<div class="container-fluid">
    <div>
        <h2 class="text-center mt-4">Frequently Asked Questions</h2>
        <hr>
    </div>
    

    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-6">
            <h4 style="color:gray">Shipping Information</h4>
<h4 class="mt-4">What shipping methods are available</h4>
<p><b>Standard and Express Delivery:</b></p>
           <p>Most of our products can be delivered by local carriers such as</p>
           <p>Safe-arrival</p>
           <p>NasExpress</p>
           <p>FlyExpress</p>
           <p>They deliver your purchase right to your door.</p> 

           <h4>
            How Do I Track My Order?
            
            </h4>
            <p>You Will Get Notification Through Email Or Msg Or Courier Will Call You For Schedule</p>
            <h4>
                
How Long Will it Take To Get My Package?

            </h4>
            <p>Most Of The Times Within 2 Business Days If There Is No Any Weather Condition Or Holidays</p>
            <h4>        
Do I Need A Account To Place Order?
            </h4>
            <p>Yes To Place a order And To Get The Product Delivered As Your Exact Location it is Necessary To Create Or Submit Your Details
            </p>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>
<app-footer></app-footer>