<app-navbar></app-navbar>
<div class="container-fluid">
    <div class="row mt-4">
        <div class="col-lg-6">
         

      <div id="myCarousel" class="carousel shadow slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
          <li data-target="#myCarousel" data-slide-to="1"></li>
          <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img class="first-slide" style="width:100%" src="assets/IMAGES/laptop2.png" alt="First slide">
            <div class="container">
              <div class="carousel-caption text-left">
                <h1>Example headline.</h1>
                <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                <p><a class="btn btn-lg btn-primary" href="#" role="button">Sign up today</a></p>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <img class="second-slide" style="width:100%" src="assets/IMAGES/phone.png" alt="Second slide">
            <div class="container">
              <div class="carousel-caption">
                <h1>Another example headline.</h1>
                <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                <p><a class="btn btn-lg btn-primary" href="#" role="button">Learn more</a></p>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <img class="third-slide" style="width:100%" src="assets/IMAGES/television.png" alt="Third slide">
            <div class="container">
              <div class="carousel-caption text-right">
                <h1>One more for good measure.</h1>
                <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                <p><a class="btn btn-lg btn-primary" href="#" role="button">Browse gallery</a></p>
              </div>
            </div>
          </div>
        </div>
        <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
</div>
<div class="col-lg-6 ">

  <div class="div shadow" style="height:90%">
      <div class="row">
          <div class="col-6">
              <img class="" style="width:100%" src="assets/IMAGES/television.png" alt="Third slide">
          </div>
          <div class="col-6">
              <img class="" style="width:100%" src="assets/IMAGES/television.png" alt="Third slide">
          </div>
        </div>
        <div class="row">
          <div class="col-6">
              <img class="" style="width:100%" src="assets/IMAGES/television.png" alt="Third slide">
          </div>
          <div class="col-6">
              <img class="" style="width:100%" src="assets/IMAGES/television.png" alt="Third slide">
          </div>
        </div>
  </div>
 
</div>
    </div>
</div>
      <!-- Marketing messaging and featurettes
      ================================================== -->
      <!-- Wrap the rest of the page in another container to center all the content. -->

     <div class="container-fluid mt-2">
       <div class="card rounded-0 shadow" style="width:100%;">
          <div class="row">
              <div class="col-md-2" >
                <img src="assets/IMAGES/phone.png"  style="width:100%;height:100%" alt="">
              </div>
              <div class="col-md-2" >
                  <img src="assets/IMAGES/phone.png" alt="" style="width:100%;height:100%">
                </div>
                <div class="col-md-2" >
                    <img src="assets/IMAGES/phone.png" alt="" style="width:100%;height:100%">
                  </div>
                  <div class="col-md-2" >
                      <img src="assets/IMAGES/phone.png" alt="" style="width:100%;height:100%">
                    </div>
                    <div class="col-md-2" >
                        <img src="assets/IMAGES/phone.png" alt="" style="width:100%;height:100%">
                      </div>
                      <div class="col-md-2" >
                          <img src="assets/IMAGES/phone.png" alt="" style="width:100%;height:100%">
                        </div>
            </div>
       </div>
     </div>
     <div class="container-fluid mt-4">
        <div class="card rounded-0 shadow" style="width:100%;">
           <div class="row">
               <div class="col-md-2" >
                 <img src="assets/IMAGES/laptop2.png"  style="width:100%;height:100%" alt="">
               </div>
               <div class="col-md-2" >
                  <img src="assets/IMAGES/laptop2.png"  style="width:100%;height:100%" alt="">
                </div>
                <div class="col-md-2" >
                    <img src="assets/IMAGES/laptop2.png"  style="width:100%;height:100%" alt="">
                  </div>
                  <div class="col-md-2" >
                      <img src="assets/IMAGES/laptop2.png"  style="width:100%;height:100%" alt="">
                    </div>
                    <div class="col-md-2" >
                        <img src="assets/IMAGES/laptop2.png"  style="width:100%;height:100%" alt="">
                      </div>
                      <div class="col-md-2" >
                          <img src="assets/IMAGES/laptop2.png"  style="width:100%;height:100%" alt="">
                        </div>
             </div>
        </div>
      </div>
      <div class="container-fluid mt-4">
          <div class="card rounded-0 shadow" style="width:100%;">
             <div class="row">
                 <div class="col-md-2" >
                   <img src="assets/IMAGES/fridge.png"  style="width:100%;height:100%" alt="">
                 </div>
                 <div class="col-md-2" >
                    <img src="assets/IMAGES/fridge.png"  style="width:100%;height:100%" alt="">
                  </div>
                  <div class="col-md-2" >
                      <img src="assets/IMAGES/fridge.png"  style="width:100%;height:100%" alt="">
                    </div>
                    <div class="col-md-2" >
                        <img src="assets/IMAGES/fridge.png"  style="width:100%;height:100%" alt="">
                      </div>
                      <div class="col-md-2" >
                          <img src="assets/IMAGES/fridge.png"  style="width:100%;height:100%" alt="">
                        </div>
                        <div class="col-md-2" >
                            <img src="assets/IMAGES/fridge.png"  style="width:100%;height:100%" alt="">
                          </div>
               </div>
          </div>
        </div>
        <div class="container-fluid mt-4">
            <div class="card rounded-0 shadow" style="width:100%;">
               <div class="row">
                   <div class="col-md-2" >
                     <img src="assets/IMAGES/television.png"  style="width:100%;height:100%" alt="">
                   </div>
                   <div class="col-md-2" >
                      <img src="assets/IMAGES/television.png"  style="width:100%;height:100%" alt="">
                    </div>
                    <div class="col-md-2" >
                        <img src="assets/IMAGES/television.png"  style="width:100%;height:100%" alt="">
                      </div>
                      <div class="col-md-2" >
                          <img src="assets/IMAGES/television.png"  style="width:100%;height:100%" alt="">
                        </div>
                        <div class="col-md-2" >
                            <img src="assets/IMAGES/television.png"  style="width:100%;height:100%" alt="">
                          </div>
                          <div class="col-md-2" >
                              <img src="assets/IMAGES/television.png"  style="width:100%;height:100%" alt="">
                            </div>
                 </div>
            </div>
          </div>
          <div class="container-fluid mt-4">
              <div class="card rounded-0 shadow" style="width:100%;">
                 <div class="row">
                     <div class="col-md-2" >
                       <img src="assets/IMAGES/mp3.png"  style="width:100%;height:100%" alt="">
                     </div>
                     <div class="col-md-2" >
                        <img src="assets/IMAGES/mp3.png"  style="width:100%;height:100%" alt="">
                      </div>
                      <div class="col-md-2" >
                          <img src="assets/IMAGES/mp3.png"  style="width:100%;height:100%" alt="">
                        </div>
                        <div class="col-md-2" >
                            <img src="assets/IMAGES/mp3.png"  style="width:100%;height:100%" alt="">
                          </div>
                          <div class="col-md-2" >
                              <img src="assets/IMAGES/mp3.png"  style="width:100%;height:100%" alt="">
                            </div>
                            <div class="col-md-2" >
                                <img src="assets/IMAGES/mp3.png"  style="width:100%;height:100%" alt="">
                              </div>
                   </div>
              </div>
            </div>

            <div class="container-fluid">
              <div class="row mt-4">
                <div class="col-lg-6">
                    <img src="assets/IMAGES/wfh.png"  style="width:100%;height:100%" alt="">
                </div>
                <div class="col-lg-6 mt-1">
                    <img src="assets/IMAGES/homedecor.png"  style="width:100%;height:100%" alt="">
                </div>
              </div>

              <div class="row mt-4">
                <div class="col-lg-6">
                    <img src="assets/IMAGES/prepair.png"  style="width:100%;height:100%" alt="">
                </div>
                <div class="col-lg-6 mt-1">
                    <img src="assets/IMAGES/monitors.png"  style="width:100%;height:100%" alt="">
                </div>
              </div>
            </div>

            <div class="container-fluid mt-4">
                <div class="card rounded-0 shadow" style="width:100%;">
                   <div class="row">
                       <div class="col-md-2" >
                         <a href=""><img src="assets/IMAGES/camera2.png"  style="width:100%;height:100%" alt=""></a>
                         
                       </div>
                       <div class="col-md-2" >
                          <a href=""><img src="assets/IMAGES/camera2.png"  style="width:100%;height:100%" alt=""></a>
                          
                        </div>
                        <div class="col-md-2" >
                            <a href=""><img src="assets/IMAGES/camera2.png"  style="width:100%;height:100%" alt=""></a>
                            
                          </div>
                          <div class="col-md-2" >
                              <a href=""><img src="assets/IMAGES/camera2.png"  style="width:100%;height:100%" alt=""></a>
                              
                            </div>
                            <div class="col-md-2" >
                                <a href=""><img src="assets/IMAGES/camera2.png"  style="width:100%;height:100%" alt=""></a>
                                
                              </div>
                              <div class="col-md-2" >
                                  <a href=""><img src="assets/IMAGES/camera2.png"  style="width:100%;height:100%" alt=""></a>
                                  
                                </div>
                     </div>
                </div>
              </div>
<div class="container-fluid">
  <div class="row mt-4">
    <div class="col-md-6">
<a href=""><img src="assets/IMAGES/pad.png"  style="width:100%;height:100%" alt=""></a>
    </div>
    <div class="col-md-6 mt-2">
      <div class="row">
        <div class="col-6">
            <a href=""><img src="assets/IMAGES/camera2.png"  style="width:100%;height:100%" alt=""></a>
        </div>
        <div class="col-6">
            <a href=""><img src="assets/IMAGES/pad2.png"  style="width:100%;height:100%" alt=""></a>
        </div>
      </div>
      <div class="row mt-2">
        <div class="col-6">
            <a href=""><img src="assets/IMAGES/tad2.png"  style="width:100%;height:100%" alt=""></a>
        </div>
        <div class="col-6">
            <a href=""><img src="assets/IMAGES/mouse.png"  style="width:100%;height:100%" alt=""></a>
        </div>
      </div>
    </div>
  </div>
</div>
            <app-footer></app-footer>